﻿/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 font-family: 'Consolas';
 color: #0000c0;
 background-color: #e8f2fe;
}
a.rvts12, span.rvts12
{
 color: #0000ff;
 text-decoration: underline;
}
span.rvts13 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts14, span.rvts14 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts15
{
 font-size: 10.5pt;
 font-style: italic;
}
span.rvts16
{
 font-size: 10.5pt;
}
span.rvts17
{
 font-size: 10.5pt;
}
span.rvts18
{
 font-size: 10.5pt;
 font-weight: bold;
}
span.rvts19
{
 font-size: 10.5pt;
 font-weight: bold;
}
span.rvts20
{
 font-size: 10.5pt;
 font-weight: bold;
}
span.rvts21
{
 font-weight: bold;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 text-indent: 48px;
}
.rvps5
{
 text-align: center;
 text-indent: 48px;
}
.rvps6
{
 margin: 0px 0px 0px 24px;
}
.rvps7
{
 margin: 0px 0px 0px 48px;
}
.rvps8
{
 margin: 0px 0px 0px 72px;
}
.rvps9 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps10
{
 line-height: 1.50;
}
.rvps11
{
 text-align: center;
 line-height: 1.50;
}
.rvps12
{
 line-height: 1.50;
 margin: 0px 0px 0px 24px;
}
.rvps13
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps14
{
 text-indent: 48px;
 line-height: 1.50;
}
.rvps15
{
 line-height: 1.50;
 margin: 0px 0px 0px 24px;
}
.rvps16
{
 text-indent: 48px;
 line-height: 1.50;
 margin: 0px 0px 0px 24px;
}
.rvps17
{
 text-align: center;
 line-height: 1.50;
 margin: 0px 0px 0px 24px;
}
.rvps18
{
 text-indent: -48px;
 line-height: 1.50;
 margin: 0px 0px 8px 0px;
}
.rvps19
{
 text-indent: 48px;
 line-height: 1.50;
 margin: 0px 0px 8px 0px;
}
.rvps20
{
 text-indent: -24px;
 line-height: 1.50;
 margin: 0px 0px 0px 72px;
}
.rvps21
{
 text-indent: -24px;
 line-height: 1.50;
 margin: 0px 0px 8px 72px;
}
.rvps22
{
 text-indent: -24px;
 line-height: 1.50;
 margin: 0px 0px 0px 96px;
}
.rvps23
{
 text-indent: -48px;
 line-height: 1.50;
 margin: 0px 0px 0px 48px;
}
.rvps24
{
 line-height: 1.50;
 margin: 0px 0px 0px 48px;
}
.rvps25
{
 text-indent: 48px;
 margin: 0px 0px 0px 48px;
}
.rvps26
{
 line-height: 1.50;
 margin: 0px 0px 0px 72px;
}
.rvps27
{
 text-align: center;
 line-height: 1.50;
 margin: 0px 0px 0px 24px;
}
.rvps28
{
 text-indent: 48px;
 line-height: 1.50;
 margin: 0px 0px 0px 48px;
}
.rvps29
{
 text-align: center;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps30
{
}
.rvps31
{
 text-align: center;
}
.rvps32
{
 margin: 0px 0px 0px 96px;
}
.rvps33
{
 text-indent: 48px;
 line-height: 1.50;
 margin: 0px 0px 0px 96px;
}
.rvps34
{
 text-align: center;
 text-indent: 48px;
 line-height: 1.50;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: decimal;}
.list5 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: lower-alpha;}
.list6 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: lower-roman;}
.list7 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: decimal;}
.list8 {text-indent: 0px; margin-left: 72px; list-style-position: outside; list-style-type: decimal;}
.list9 {text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: lower-alpha;}
.list10 {text-indent: 0px; margin-left: 72px; list-style-position: outside; list-style-type: lower-roman;}
