<?page title="Download page" contentType="text/html;charset=UTF-8"?>
<zk>

<!--  *********************   INITIALIZE DISPLAY VARIABLES  *********************************************************************************** -->

<zscript>

        import org.zkoss.zkplus.spring.SpringUtil;
		import org.irri.iric.portal.admin.WorkspaceFacade;
		import org.irri.iric.portal.genotype.GenotypeFacade;
		import org.irri.iric.portal.variety.VarietyFacade;		
		
		import org.irri.iric.portal.AppContext;


        WorkspaceFacade workspace = SpringUtil.getBean("WorkspaceFacade");
        GenotypeFacade genotype = SpringUtil.getBean("GenotypeFacade");
        
       	List listVarlistNames = new ArrayList();
       	listVarlistNames.add("");
       	listVarlistNames.addAll( workspace.getVarietylistNames());
       	listVarlistNames.add("all");
       	listVarlistNames.add("create new list...");

       	List listLocuslistNames = new ArrayList();
       	listLocuslistNames.add("");
       	listLocuslistNames.addAll(workspace.getLocuslistNames());
       	listLocuslistNames.add("create new list...");

       	List listVarNames =  AppContext.createUniqueUpperLowerStrings(genotype.getVarnames(VarietyFacade.DATASET_SNPINDELV2_IUPAC), false, true);
        //List listContigs = AppContext.createUniqueUpperLowerStrings( genotype.getContigsForReference(AppContext.getDefaultOrganism()), false,true);
       	//List listLocusNames = AppContext.createUniqueUpperLowerStrings( genotype.getGenenames() , true, true);
       	
       	List listContigs = genotype.getContigsForReference(AppContext.getDefaultOrganism());
       	List listLocusNames = genotype.getGenenames() ;
        
</zscript>
  
	<style>
	
	 .z-loading {
            background-color:#808080;
            border:1px outset #A0A0A0;
            font-weight: bold;
            padding:2px;
			
			cursor: wait;
    		top: 50%;
    		left: 45% !important;
    		align: center;
    		vertical-align: middle; 
    		
    		position: fixed;
			margin-left: auto;
    		margin-right: auto;
    		display: block;
    		 
    
        }
        .z-loading-indicator {
            color: gray;
            border:0 none;
            
            width: 100%;
    		height: 100%;        
    
        }
    
        .z-loading { top: 50% !important; left: 45% !important; align:
		center; vertical-align: middle; }
    
    </style>
    <style>
    .myimgbutton {
        padding: 0;
    }
    
    .z-grid-autopaging .z-row-cnt {
	    height: 40px;
	    overflow: hidden;
	}
    </style>
    

<window border="none" apply="org.irri.iric.portal.admin.zkui.DownloadController"> 
    
	<hbox height="15px"/>

	<div align="center">
	<label value="Bulk Download Page" style="font-size:20px;font-weight:bold;color:green;"/>
	</div>

	<hbox height="15px"/>
	
	 <tabbox> <!-- width="100%" -->  
        <tabs>  
            <tab label="SNPs and Phenotypes Data" selected="true"/>
            <tab id="tabRawfiles" label="SNPs Analysis Files" visible="true"/>
            <tab  label="FastQC Reports"/>
            <tab id="tabSequence" label="Sequence"/>
            
        </tabs>  
        <tabpanels>
          
          <!--  *********************   SNPS DATA DOWNLOAD TAB  *********************************************************************************** -->
          
          <tabpanel>
          <iframe align="left" visible="true" style="width:95%;height:4000px;border:0px inset;" src="https://oryzasnp.irri.org/index.html" />
          </tabpanel>
        
        <tabpanel>
		  
		  <!--  *********************   SNPS ANALYSIS RAW FILES DOWNLOAD TAB  *********************************************************************************** -->      
		        <hbox height="20px"/>
		        <hbox>
		        <label value="Move to variety:" style="font-size:12px;font-weight:bold;color:gray;"/>
		        <listbox id="listboxVarlist" mold="select"/> 
		       				<zscript><![CDATA[
				    	    listboxVarlist.setModel(new SimpleListModel(listVarNames));
				   			]]></zscript>
				</hbox>

		        <div visible="false">
		        <hbox>
			        <label value="Mark from variety list:" style="font-size:12px;font-weight:bold;color:gray;"/>
			        <hbox width="15px"/>
			        <label value="Multi-file download:" style="font-size:12px;font-weight:bold;color:gray;"/>
			        <hbox width="6px"/>
			        <checkbox id="checkboxFastq" label="FastQ"/>
			        <hbox width="6px"/>
			        <checkbox id="checkboxBAM" label="BAM"/>
			        <hbox width="6px"/>
			        <checkbox id="checkboxVCF" label="VCF"/>
			        
			        <hbox height="15px"/>
			        <label value="Preferred download site:" style="font-size:12px;font-weight:bold;color:gray;"/>
			        <listbox id="listboxSite" mold="select"> 
			        <listitem label="AWS HTTP" selected="true"/>
			        <listitem label="ASTI HTTP"/>
			        <listitem label="ASTI FTP"/>
			        </listbox>
		        </hbox>
		        <hbox>
		        <button id="buttonUnmarkAll" label="Unmark All"/>
		        <hbox width="20px"/>
		        <button id="buttonDownloadMarked" label="Download Marked" />
		        </hbox>
		        </div>
		        
		        <grid id="gridRawVarietyFiles" mold="paging" pageSize="100">
		        <columns>
		            <!--  column width="40px" label="Mark" align="left" / -->
		            <column hflex="3" label="Variety" align="center" />
		            <column hflex="3" label="IRIS ID/BoxCode" align="center" />
		            <column hflex="2" label="FastQ Files" align="center" />
		            <column hflex="2" label="BAM Files" align="center" />
		            <column hflex="2" label="VCF Files" align="center" />
		        </columns>
		        </grid>
		        
		        <zscript><![CDATA[
				gridRawVarietyFiles.pagingChild.mold ="os";
		        gridRawVarietyFiles.pagingPosition = "both";
        	    ]]></zscript>
		        
		        
        </tabpanel>
        
        <!--  *********************   FASTQC REPORTS TAB  *********************************************************************************** -->      
        
         <tabpanel>
         
         <iframe align="left" visible="true" style="width:95%;height:1000px;border:0px inset;" src="https://snp-seek.irri.org/3kfastqc/" />
         
         </tabpanel>
         
         
         <!--  *********************   VCF2FASTA GENERATOR  TAB  *********************************************************************************** -->      
         
         <tabpanel>
         
           <hbox height="20px"/>

           <!-- vbox>
           <label value="Generate sequence from the VCF file for the selected varieties and regions." style="font-size:12px;font-weight:bold"/>
           <label value="The result is in modified FASTA format as follows:" style="font-size:12px"/>
           <label value="N : missing calls (genotype is ./. in VCF)" style="font-size:12px"/> 
           <label value="- : deletions" style="font-size:12px"/>
           <label value="[ ] : if both insertion and deletion are present in a position, it is enclosed in brackets" style="font-size:12px"/>
           <label value="Heterozygous SNPs are presented in IUPAC symbols." style="font-size:12px"/>
           </vbox -->
           
           <vbox>
           <label value="Generate sequence from the VCF file for the selected varieties and regions." style="font-size:12px;font-weight:bold"/>
           <label value="This module executes these commands for each variety:"  style="font-size:12px" />
           <label value="tabix -h http://s3.amazonaws.com/3kricegenome/{reference}/{variety_vcf_file} [contig:start-stop]  > temp.vcf"  style="font-size:12px" />
           <label value="output is temp.vcf"  style="font-size:12px" /> 
           <label value="java GenomeAnalysisTK.jar -T FastaAlternateReferenceMaker -R path/to/refseq.fa -L temp.vcf -V:VCF temp.vcf -o output.fas --use_IUPAC_sample variety_name" style="font-size:12px"/>
           <label value="output is Fasta file for every variety with all loci" style="font-size:12px" />
           <label value="Collate all variety fasta into a one Fasta file for every locus with all varieties" style="font-size:12px" />
           </vbox>
           
           <hbox height="20px"/>
           <grid>
	        <rows>
            	<row spans="1,3,1">
			    	<label value="Varieties:" style="font-size:14px;font-weight:bold;color:gray;" />
			    
			    	<hbox>
			    	 
			         <listbox id="listboxQueryvar"  mold="select"  rows="1"> 
			         <!--  listitem value="B001" label="Heibiao B001" selected="true"/ -->
			         </listbox>
			         <vbox width="40px"/>
			         <label value="Variety list:"/>
			         <listbox id="listboxVarlistSeq"  mold="select"  rows="1"/>
				    
		    		<zscript><![CDATA[
				        listboxQueryvar.setModel(new SimpleListModel(listVarNames));
				        listboxQueryvar.setSelectedIndex(0);
				        listboxVarlistSeq.setModel(new SimpleListModel(listVarlistNames));
				        listboxVarlistSeq.setSelectedIndex(0);
				    ]]></zscript>
				    
				    </hbox>
				    <label value=""/>
			    </row>
			    
			    <row spans="1,3,1">
			    	<label value="Region:" style="font-size:14px;font-weight:bold;color:gray;" />
			    	
			    	  <vbox>
			    	  	 <hbox height="10px"/>
			    	 	 <hbox>
			    	 	 <label value="Reference genome: " pre="true"/>
			    	 	 <listbox id="listboxReference"  mold="select"  rows="1">
			    	 	 <listitem value="Nipponbare"  label="Japonica nipponbare"/>
			    	 	 <listitem value="9311"  label="93-11"/>
			    	 	 <listitem value="DJ123"  label="DJ123"/>
			    	 	 <listitem value="Kasalath"  label="Kasalath"/>
			    	 	 </listbox>
			    	 	 
			    	 	 <zscript><![CDATA[
				        listboxReference.setSelectedIndex(0);
				    	]]></zscript>
				    
				    
			    	 	 </hbox>
			    	 	 <hbox>
			    	  	<label value="Chromosome/Contig: " pre="true"/>
				         <!--  combobox id="comboQuerychr"  buttonVisible="false"  readonly="false" autodrop="true"/ -->
				         
				         <custom-attributes org.zkoss.zul.listbox.rod="true"/>
				         <combobox id="comboQuerychr"  buttonVisible="true"  readonly="false" width="120px"> <!--  fulfill="onOpen"   autodrop="true" -->
				         			    
				         <!--  combobox id="comboQuerychr"  readonly="true" -->
				         	<comboitem label=" "/>
				            <comboitem label="chr01"/>
				            <comboitem label="chr02"/>
				            <comboitem label="chr03"/>
				            <comboitem label="chr04"/>
				            <comboitem label="chr05"/>
				            <comboitem label="chr06"/>
				            <comboitem label="chr07"/>
				            <comboitem label="chr08"/>
				            <comboitem label="chr09"/>
				            <comboitem label="chr10"/>
				            <comboitem label="chr11"/>
				            <comboitem label="chr12"/>
				           </combobox>
    
    				<label id="labelExampleContig" value="(ex. chr01)" style="font-size:9px" />
    
				         
				         <label value=" start  bp: " pre="true"/><intbox id="intboxStart"/>
				         <label value=" end bp: " pre="true"/><intbox id="intboxEnd"/>
				         <label value=" strand: " pre="true" visible="false"/>
				         
				         <listbox id="listboxQuerystrand"  mold="select"  rows="1" visible="false">
				         <listitem value=""  label=""/>
				         <listitem value="1" label="+"  selected="true" />
				         <listitem value="-1" label="-"/>
				         </listbox>
				         </hbox>
				         
				         <hbox>
				         	<label value="Locus: " pre="true"/>
				         	<!--  combobox id="comboboxLocus"  buttonVisible="false"  readonly="false"   autodrop="true"  / -->
				         	
				         	
	            			<combobox id="comboboxLocus"  buttonVisible="true"  readonly="false" width="150px"  autodrop="true"  fulfill="onOpen"/> <!--  autodrop="true" -->
				         	<label id="labelExampleLocus" value="(ex. loc_os01g01010)" style="font-size:9px"/>
				         	
				         	
				         	
			    	  		<label value="    Locus list: " pre="true"/>
				         	<listbox id="listboxLocuslist"  mold="select"  rows="1" />
				         </hbox>
				         
				    		<zscript><![CDATA[
								//comboQuerychr.setModel(new SimpleListModel(listContigs));
								//comboQuerychr.setValue("");
						        listboxLocuslist.setModel(new org.irri.iric.portal.SimpleListModelExt(listLocuslistNames));
						        comboboxLocus.setModel(new org.irri.iric.portal.SimpleListModelExt(listLocusNames ));
						        listboxLocuslist.setSelectedIndex(0);
						        //listboxLocus.setSelectedIndex(0);
						    ]]></zscript>
				         	
				         </vbox>
				         <button id="buttonDownloadSequence">Download Sequence</button>
				         
			    </row>
			    </rows>
			     
             </grid>
        
        	<hbox height="20px"/> 
        	<hbox>    
	    	<label id="labelDownloadProgressMsg" style="font-weight:bold;font-size:12px"/><vbox width="10px"/>
    		<a id="aDownloadProgressURL" target="_job"/>
    		</hbox>
             
         </tabpanel>

        
     </tabpanels>
     </tabbox>
     
    <zscript><![CDATA[
           tabSequence.setVisible( !AppContext.isUsingsharedData() );
	]]></zscript>
    
	
 </window>	

</zk>