<?page title="SNP Query" contentType="text/html;charset=UTF-8"?>

<?link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" ?>
<?link rel="icon" href="/favicon.ico" type="image/x-icon" ?>

<?component name="tipBox" macroURI="tipBox.zul"?>

<?script type="text/javascript"><![CDATA[
window.Boot_progressbox = function (){}
]]>?>

<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>



<!-- JQuery and JQuery-UI -->
<?link href="external/jquery.css" rel="stylesheet" ?>
<?script type='text/javascript' src='external/jquery-1.10.2.min.js'?>
<?script type='text/javascript' src='external/jquery-ui-1.10.4.custom.min.js'?>

<!-- JSAV -->
<?link href="JSAV.css" rel="stylesheet" ?>
<?script type='text/javascript' src='/JSAV.js' ?>

<!-- If using tooltipster -->
<?link href="external/tooltipster-master/css/tooltipster.css" rel="stylesheet" ?>
<?script type='text/javascript' src='external/tooltipster-master/js/jquery.tooltipster.min.js' ?>
<?script  type="text/javascript"><![CDATA[
function enableTooltipster()
{
    $(document).ready(function() {
        $('.tooltip').tooltipster();
    });
}
enableTooltipster();
]]> ?>
<!-- END -->


<zk xmlns:h="native"  xmlns:w="http://www.zkoss.org/2005/zk/client">

  <!--  *********************   DEFINE CUSTOMIZED DISPLAY PROPERTIES  *********************************************************************************** -->

    <style>
        .z-loading {
            background-color:#808080;
            border:1px outset #A0A0A0;
            font-weight: bold;
            padding:2px;
			
			cursor: wait;
    		top: 50%;
    		left: 45% !important;
    		align: center;
    		vertical-align: middle; 
    		
    		position: fixed;
			margin-left: auto;
    		margin-right: auto;
    		display: block;
    		 
    
        }
        .z-loading-indicator {
            color: gray;
            border:0 none;
            
            width: 100%;
    		height: 100%;        
    
        }
        .z-loading { top: 50% !important; left: 45% !important; align:
		center; vertical-align: middle; }
        .z-loading-icon {
            background-image: url(${c:encodeURL('~./zk/img/progress3.gif')}); 
        }
        
        .vertical {
		   -moz-transform: rotate(-90deg) translate(0, 100%);
		   -moz-transform-origin: 0% 100%;
		   -o-transform: rotate(-90deg) translate(0, 100%);
		   -o-transform-origin: 0% 100%;
		   -webkit-transform: rotate(-90deg) translate(0, 100%);
		   -webkit-transform-origin: 0% 100%;
		   transform: rotate(-90deg) translate(0, 100%);
		   transform-origin: 0% 100%;
		   
			writing-mode: bt-rl;
			filter: flipV flipH;
		   
		   width:20px;
    	   height:90px;
    	   vertical-align: middle;
    	   text-align:center;
    	   display:block;
    	   /* white-space:nowrap; */
		}


        .vertical5 { 
	   	 -webkit-writing-mode:vertical-lr; 
	   	 -ms-writing-mode:tb-lr; 
	   	 writing-mode:vertical-lr; 
	   	 width:20px;
    	 height:80px;
    	 text-align:center;
    	 filter: flipV flipH;
	 	}

        .vertical2 { 
	   	 -webkit-writing-mode:vertical-lr; 
	   	 -ms-writing-mode:tb-lr; 
	   	 writing-mode:vertical-lr; 
	   	 width:20px;
    	 height:80px;
    	 text-align:center;
	 	}

		 .vertical3 {
		    -webkit-transform:rotate(-90deg);
		    -moz-transform:rotate(-90deg);
		    -o-transform: rotate(-90deg);
		    -ms-transform:rotate(-90deg);
		    transform: rotate(-90deg);
		    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
		    
		    white-space:nowrap;
		    display:block;
		    bottom:0;
		    width:20px;
		    height:80px;
		    text-align:center;
		}
 
 
        /* Cell Height and Font */ .mylist .z-listfooter-cnt, .mylist
        .z-listcell-cnt,.mylist .z-listheader-cnt { font-size: 6px;
        font-family: "Tahoma", verdana, arial, sans-serif; height: 8px;
        }
        
    </style>
    
<!--  style>


.z-grid-row {
    height: 31px;
    overflow: hidden;
    background: #F7F7F7;
}

.z-grid-odd.z-detail-faker .z-grid-odd td.z-row-inner{
	background-color: #FFFFFF;
}


.no-highlight tr.z-grid-odd td.z-row-inner,tr.z-grid-odd .z-cell,tr.z-grid-odd, .no-highlight tr.z-row-over > td.z-row-inner
	      {
	      background:white;
	      }

</style -->

 <!-- style>
.no-highlight
    tr.overseld,td.overseld,tr.z-listitem-over,tr.z-listitem-over-seld
  { background-image: none; background-color: none; }
 </style -->


<style src="/css/demo.css.dsp"/>
<!--  script><![CDATA[
jq(document).click(function (evt) {
	if (!jq.isAncestor(zk.Widget.$('$myComp').$n('body'), evt.target)
		 && !jq.isAncestor(jq('$tip')[0], evt.target))
		jq('$tip').fadeOut();
}); 
function doPosition() {
	var n = jq('$tip');
	var d = n.zk.dimension(true),
		scX = jq.innerX(),
		scY = jq.innerY(),
		scMaxX = scX + jq.innerWidth(),
		scMaxY = scY + jq.innerHeight(),
		x = d.left,
		y = d.top;
			
	if (x + d.width > scMaxX) {
		var diff = x - (scMaxX - d.width);
	 	x = scMaxX - d.width;
	 	n.children(":first").css('margin-left', diff + 30 + 'px');
	} else {
	 	n.children(":first").css('margin-left', 30 + 'px');
	}
	if (x < scX) x = scX;
	if (y + d.height > scMaxY) y = scMaxY - d.height;
	if (y < scY) y = scY;

	n.offset({top: y, left: x});
	n.hide().fadeIn(400);
}
]]></script -->




<window id="win"  border="none"
    apply="org.irri.iric.portal.genotype.zkui.SNPQueryController">
    
    <!--  onClientInfo="onClientInfo(event)" -->
    
    
    <label id="labelScreenWidth" visible="false"/>
    <radiogroup id="snpcolor" />
    <radiogroup id="synonymoussnps" />
    <radiogroup id="radiogroupShowsnps"/>
    
   <!--  for vertical spitter --> 
   <vbox>

    <!--  MESSAGE BOX  -->
	<textbox id="msgbox" readonly="true" value="${msg}" width="999px" rows="2"/>

	<!-- query dialogs -->
   <vbox> 
   
    <hbox height="310px">
    <vbox width="1000px" height="305px">
    
	
    
	<zscript>
	import org.irri.iric.portal.genomics.zkui.LocalAlignmentSorter;
	       Comparator aasc0 = new LocalAlignmentSorter(true,0,0);        
	       Comparator adsc0 = new LocalAlignmentSorter(false,0,0);
	       Comparator aasc1 = new LocalAlignmentSorter(true,1,2);        
	       Comparator adsc1 = new LocalAlignmentSorter(false,1,2);
	       Comparator aasc2 = new LocalAlignmentSorter(true,2,2);        
	       Comparator adsc2 = new LocalAlignmentSorter(false,2,2);
	       Comparator aasc3 = new LocalAlignmentSorter(true,3,0);        
	       Comparator adsc3 = new LocalAlignmentSorter(false,3,0);
	       Comparator aasc4 = new LocalAlignmentSorter(true,4,2);        
	       Comparator adsc4 = new LocalAlignmentSorter(false,4,2);
	       Comparator aasc5 = new LocalAlignmentSorter(true,5,2);        
	       Comparator adsc5 = new LocalAlignmentSorter(false,5,2);
	       Comparator aasc6 = new LocalAlignmentSorter(true,6,1);        
	       Comparator adsc6 = new LocalAlignmentSorter(false,6,1);
	       Comparator aasc7 = new LocalAlignmentSorter(true,7,2);        
	       Comparator adsc7 = new LocalAlignmentSorter(false,7,2);
	       Comparator aasc8 = new LocalAlignmentSorter(true,8,3);        
	       Comparator adsc8 = new LocalAlignmentSorter(false,8,3);
	</zscript>
    

    <!--  grid height="240px" -->
    <grid>
        <rows>
			
			<!--  *********************   COMPARE GENOMES REF, TARGET  ************************************* -->
        
   
   
            <row spans="1,5,1" visible="false">
 				<label value="Compare genomes:" style="font-size:14px;font-weight:bold;color:gray;" /> 
        		<vbox>
					<hbox>
						<label value="Reference" style="font-weight:bold"/>	
		                <hbox width="3px"/>
						<listbox  id="listboxAlignRef" mold="select" width="120px">
							<listitem label="Nipponbare"/>
							<listitem label="MH63"/>
							<listitem label="ZS97"/>
						</listbox>
		                <hbox width="5px"/>
						<label value="Chromosome"/>                
				    	<listbox id="listboxAlignContig" mold="select"  width="120px"> 
							<listitem label="chr01"/>
							<listitem label="chr02"/>
							<listitem label="chr03"/>
						</listbox>
						<label value="Start:"/>
		                <intbox id="intboxAlignStart" width="70px" constraint="no negative" />
		                <hbox width="3px"/>
		                <label value="End:"/>
		                <intbox id="intboxAlignEnd"  width="70px" constraint="no negative" />
		                <label  value=""  style="font-size:10px"/>  
		            </hbox>
					<hbox>
						<label value="Target" style="font-weight:bold"/>
						<hbox width="3px"/>
						<listbox id="listboxAlignTarget" mold="select" width="120px">
							<listitem label="Nipponbare"/>
							<listitem label="MH63"/>
							<listitem label="ZS97"/>
						</listbox>
		             </hbox>

				<listbox id="listboxAlignment" class="blast-table" mold="paging" pageSize="100" width="100%">
	        	<listhead>
                <listheader label="REFERENCE" width="150px"  sortAscending="${aasc0}" sortDescending="${adsc0}" />
                <listheader label="R START" width="50px"  sortAscending="${aasc1}" sortDescending="${adsc1}" />
                <listheader label="R END"  width="50px"  sortAscending="${aasc2}" sortDescending="${adsc2}" />
                <listheader label="TARGET"  width="150px"  sortAscending="${aasc3}" sortDescending="${adsc3}" />
                <listheader label="T START"  width="50px" sortAscending="${aasc4}" sortDescending="${adsc4}" />
                <listheader label="T END"  width="50px"   sortAscending="${aasc5}" sortDescending="${adsc5}" />
                <listheader label="T STRAND"  width="30px"  sortAscending="${aasc6}" sortDescending="${adsc6}" />
                <listheader label="MATCHES"  width="80px"   sortAscending="${aasc7}" sortDescending="${adsc7}" />
                <listheader label="E VALUE"  width="80px"  sortAscending="${aasc8}" sortDescending="${adsc8}" />
            	</listhead>
				</listbox>
        		<separator bar="true" style="color:green" />
        		</vbox>
        		    <button id="buttonAlign" class="z-align-button" label="ALIGN"   style="font-size:16px;font-weight:bold;color:gray;"
			    	   width="100px" height="50px"  autodisable="self"
			    	   xmlns:w="http://www.zkoss.org/2005/zk/client"			    	   			    	   
			    	   w:onClick="var t = zk.Widget.$('$msgbox');t.$n().value=(' ');t.updateChange_();"
			    />
        		
        	</row>
            <!--  row spans="1,5,1">
 				<label value="Compare genomes:" style="font-size:14px;font-weight:bold;color:gray;" /> 
 				<vbox>
					<hbox>
						<label value="Reference" style="font-weight:bold"/>	
						<listbox mold="select" width="120px">
							<listitem label="Nipponbare"/>
							<listitem label="MH63"/>
							<listitem label="ZS97"/>
						</listbox>
						<label value="Chromosome"/>                
				    	<listbox mold="select"  width="120px"> 
							<listitem>chr01</listitem>
							<listitem>chr02</listitem>
							<listitem>chr03</listitem>
						</listbox>
						<label value="Start:"/>
		                <intbox  width="70px" constraint="no negative" />
		                <hbox width="3px"/>
		                <label value="End:"/>
		                <intbox  width="70px" constraint="no negative" />
		                <label  value=""  style="font-size:10px"/>  
		            </hbox>
					<hbox>
						<label value="Target" style="font-weight:bold"/>	
						<listbox  mold="select" width="120px">
							<listitem label="Nipponbare"/>
							<listitem label="MH63"/>
							<listitem label="ZS97"/>
						</listbox>
		             </hbox>
				</vbox>
			</row -->
        	<!--  *********************   DATASET SELECTION  ************************************* -->
        
                <row spans="1,5,1">

			    <label value="Datasets:" style="font-size:14px;font-weight:bold;color:gray;" /> 
			     <vbox>
					<hbox>
					
					<label value="Reference" visible="false"/>
	            	<listbox id="listboxTargetReference" mold="select" rows="1"  visible="false">
	            	<listitem label="Nipponbare"/>
	            	<listitem label="MH63"/>
	            	<listitem label="ZS97"/>
	            	</listbox>
					
					
					<label value="Variety set" style="font-weight:bold"/>					
					<bandbox id="bandboxVarietyset"  autodrop="true" readonly="true">
					           <bandpopup width="200px">
							  <listbox id="listboxVarietyset" checkmark="true" multiple="true" seltype="multiple"  width="200px">
					             </listbox>
					          </bandpopup>
					</bandbox>
					<vbox width="5px"/>
					<label value="SNP set" style="font-weight:bold"/>
					<bandbox id="bandboxVariantset"  autodrop="true" readonly="true">
					           <bandpopup width="200px">
					           <vbox>
							  <listbox id="listboxVariantset" checkmark="true" multiple="true" seltype="multiple"  width="200px">
					             </listbox>
					           </vbox>
					          </bandpopup>
					</bandbox>
					<div id="divRunid" visible="false">
					<!--  vbox width="5px"/ -->
					<vbox>
					<label pre="true" value="  Select from multiple runs" style="font-weight:bold"/>
					<bandbox id="bandboxRunid"  autodrop="true" readonly="true">
					           <bandpopup width="200px">
							  <listbox id="listboxRunid" checkmark="true" multiple="true" seltype="multiple"  width="200px">
					             </listbox>
					          </bandpopup>
					</bandbox>
					</vbox>
					</div>
					</hbox>
					<label value="where are the other reference genome datasets?" style="text-decoration:underline;font-style:italic;font-weight:bold;color:darkgreen" tooltip="genotype_info"/>
					<separator bar="true" style="color:green" />
					
					</vbox>
					<vbox/>
			    </row>
        	<!--  *********************   VARIETY SELECTION  ************************************* -->
            <row spans="1,5,1">

			    <label value="Varieties:" style="font-size:14px;font-weight:bold;color:gray;" /> 
			     
			    <vbox>
			    <hbox id="advanceOptions1" visible="false">             
				    <label value="pairwise:    " pre="true" style="font-weight:bold"/>
	
 				    <combobox id="comboVar1" class="pairwise1" autodrop="true" buttonVisible="false" width="150px"/> 
				     <!--  label id="labelExampleVariety" pre="true" value="(ex. loto)" style="font-size:10px"/ -->
				     <label id="labelExampleVariety" pre="true" value="(ex. IRGC 122151)" style="font-size:10px"/>
				     
		
				  
				    <vbox width="20px"/>
				    <combobox id="comboVar2" class="pairwise2" autodrop="true" buttonVisible="false" width="150px"/>
				  
				    <vbox width="20px"/>
				    <label value="  Use accession " pre="true"/>
				    <radiogroup id="radiogroupVarlistType"/>
				    <radio id="radioUseAccession" selected="true"  radiogroup="radiogroupVarlistType"/>
				    <vbox width="10px"/>
				    <label value="  variety name" pre="true"/>
				    <radio id="radioUseVarname" radiogroup="radiogroupVarlistType"/>
			    </hbox>
				<hbox>
				 	
 			 	    <!-- label value="multiple: " pre="true" style="font-weight:bold"/ -->
			   		<label value="Subpopulation"/>	
				    
				    <listbox id="listboxSubpopulation" class="z-subpopulation-select" width="150px" mold="select"/>
				    
			   			
				    <vbox width="10px" visible="false"/>
				    <label value="All Varieties" visible="false"/>
				    <checkbox id="checkboxAllvarieties" checked="true" visible="false"/>
				    <vbox width="10px"/>
				    <label value="My Variety List" />
				    <listbox id="listboxMyVarieties" mold="select"/>

				</hbox>
				
				<separator bar="true" style="color:green"/>
				</vbox>
				
				<label value=""/>
            </row>
            
            
            <row spans="1,5,1">
            	<label value="Region:" style="font-size:14px;font-weight:bold;color:gray;" />
            	
				<vbox>
				
				<!--  *********************   REFERENCE GENOME SELECTION  ************************************* -->
				
				
            	<hbox visible="false" id="advanceOptions2">				            
            	<label>Reference:</label>
            	<listbox id="listboxReference" mold="select" rows="1" disabled="false" tooltip="popupReference"/>


            	<vbox width="10px"/>
           		<label pre="true"  tooltip="popupShowallrefalleles">Show all reference alleles</label>
           		<checkbox id="checkboxShowAllRefAlleles" />
			   			
            	<vbox width="10px"/>
            	
            	<div id="divShowNPBPositions" visible="false">
            		<hbox>
            		<label pre="true" >Show Nipponbare positions</label>
            		<checkbox id="checkboxShowNPBPosition" />
            		</hbox>
            	</div>	
            	
            	</hbox>
            	
            	<!--  *********************   CHROMOSOME REGION SELECTION  ************************************* -->
            	
            	
            	<hbox>
            	
                <label id="labelChr" value="Chromosome"/>                
			    <combobox id="selectChr" class="z-chromosome-input" buttonVisible="false"  readonly="false" autodrop="true" width="120px"> <!--  fulfill="onOpen" -->
				</combobox>
				<label id="labelChrExample" pre="true" value="(ex. chr01)" style="font-size:10px"/>
				
            
				<hbox width="5px"/>
	                <label>Start:</label>
	                <intbox id="intStart" class="z-start-input" width="70px" constraint="no negative" />
	                <hbox width="3px"/>
	                <label value="End:"/>
	                <!-- label id="labelLength" value="End: (length 43270923 bp)"/ --> 
	                <intbox id="intStop" class="z-end-input" width="70px" constraint="no negative" />
	                <label id="labelLength" value=""  style="font-size:10px"/>   
                </hbox>
                
                
            	<hbox>
	            	<label>Gene locus:</label> 
	            	  
	            	<custom-attributes org.zkoss.zul.listbox.rod="true"/>
	            	<combobox id="comboGene" class="z-genelocus-input" buttonVisible="false"  readonly="false" width="150px" autodrop="true"  fulfill="onOpen"/> <!--  autodrop="true" -->

				    		
				    <label id="labelLocusExample" pre="true" value="(ex. loc_os01g01010) " style="font-size:9px"/>
				    
					<label>SNP List</label>
					<listbox id="listboxMySNPList" mold="select" tooltip="popupMySNPList"  width="100px" />

				   			<vbox width="10px"/>
				   	<div visible="true">		
					<label>Locus List</label>
					<listbox id="listboxMyLocusList" mold="select" tooltip="popupMyLocusList" width="100px" visible="true"  />
	
				   	</div>
			    </hbox>
			    <hbox visible="false" id="advanceOptions3">
			    	<label>Match genotype: snp/alleles</label>
   						<listbox id="listboxAlleleFilter" mold="select" tooltip="popupAlleleFilter"  width="100px" />
	
				<vbox width="20px"/><label value="variety"/>

   						<listbox id="listboxVarietyAlleleFilter" mold="select" tooltip="popupVarietyAlleleFilter"  width="100px" />
	

			    </hbox>
			    <separator bar="true" style="color:green"/>
			    </vbox>
			    
			    
			    
			    	   
				<hbox>
				
					<!--  *********************   DOWNLOAD WITH NO DISPLAY BUTTONS  (DISABLED)  ************************************* -->
				
					<vbox id="buttonsDownloadNodisplay" visible="false">
					<label value="Download" style="font-size:14px;font-weight:bold;color:gray;"/>
					<hbox>
					<button id="buttonDownloadNoDisplayCSV" label="CSV"   style="font-size:14px;font-weight:bold;color:gray;"
				    	   width="50px" height="15px"  autodisable="self"/>
					<button id="buttonDownloadNoDisplayTab" label="Tab"   style="font-size:14px;font-weight:bold;color:gray;"
				    	   width="50px" height="15px"  autodisable="self"/>
				     </hbox>
				     
				    <hbox>
				    <div visible="false">
					<button id="buttonDownloadNoDisplayPlink" label="Tab"   style="font-size:14px;font-weight:bold;color:gray;"
				    	   width="50px" height="15px"  autodisable="self"/>
					<button id="buttonDownloadNoDisplayHapmap" label="Tab"   style="font-size:14px;font-weight:bold;color:gray;"
				    	   width="50px" height="15px"  autodisable="self"/>
				    </div>
					</hbox>
					</vbox>
					<vbox>
					<button id="buttonRefresh" label="Update lists"   style="font-size:14px;font-weight:bold;color:gray;" width="95px" height="30px"  autodisable="self" visible="false"/>
					<button id="buttonReset" label="Reset"   style="font-size:14px;font-weight:bold;color:gray;" width="95px" height="30px"  autodisable="self"/>
					</vbox>
				</hbox>
            </row>
            
            <row spans="1,5,1">
            
            	<!--  *********************   SNP/INDELS QUERY OPTIONS  ************************************* -->
            		<vbox>
            		<label value="Options:" style="font-size:14px;font-weight:bold;color:gray;" />
            		<hbox height="10px"/>
            		<hbox>
            		<label value="Advance options " pre="true" style="font-size:12px;font-weight:bold;color:gray;"/>
            		<checkbox id="checkboxAdvanceOptions" checked="false"/>
            		</hbox>
            		</vbox>
            		<vbox>
					<hbox visible="false">
<zscript>
import org.irri.iric.portal.genotype.zkui.GenotypeRunPlatformSorter;
		Comparator runasc0=new GenotypeRunPlatformSorter(true,0);
		Comparator rundsc0=new GenotypeRunPlatformSorter(false,0);
		Comparator runasc1=new GenotypeRunPlatformSorter(true,1);
		Comparator rundsc1=new GenotypeRunPlatformSorter(false,1);
		Comparator runasc2=new GenotypeRunPlatformSorter(true,2);
		Comparator rundsc2=new GenotypeRunPlatformSorter(false,2);
		Comparator runasc3=new GenotypeRunPlatformSorter(true,3);
		Comparator rundsc3=new GenotypeRunPlatformSorter(false,3);
</zscript>				
						<label value="Datasets" pre="true" style="font-weight:bold;"/>
						<listbox id="listboxGenotyperun" multiple="true" checkmark="true" seltype="multiple" rows="4" width="600px" mold="select">
						<listhead>
							<listheader  sort="auto" sortAscending="${runasc0}" sortDescending="${rundsc0}">Varietyset</listheader>
							<listheader  sort="auto" sortAscending="${runasc1}" sortDescending="${rundsc1}">Variantset</listheader>
							<listheader  sort="auto" sortAscending="${runasc2}" sortDescending="${rundsc2}">Date performed</listheader>
							<listheader  sort="auto" sortAscending="${runasc3}" sortDescending="${rundsc3}">Method</listheader>
						</listhead>		
						</listbox>
					
					</hbox>
					
					
					
         			<hbox>
         				<div visible="true">
          				<label value="Variant  " pre="true" style="font-weight:bold;"/>
          				<label value="SNPs " pre="true" tooltip="popupSNP" visible="false"/>
			    		<checkbox id="checkboxSNP" checked="true"  visible="false"/>
			    		<vbox width="20px" visible="false"/>
			    		<label value=" Include Indels " pre="true" tooltip="popupIndel" />
			    		<checkbox id="checkboxIndel" checked="false"  />
			    		<div id="divHeteroindels" visible="false">
			    		<vbox width="20px" visible="false"/>
			    		<label value=" Consider heterozygous Indels " pre="true" tooltip="popupHeteroIndels" />
			    		<checkbox id="checkboxHeteroindels" checked="false"  />
			    		</div>
			    		</div>
			    		
			    		<div visible="true">
          				<label value="    Show phenotype  " pre="true" style="font-weight:bold;"/>
						<listbox id="listboxPhenotype" mold="select" width="150px"   />
						<radiogroup id="rgTraitterm" />
								<radio id="radioLegacyTrait"
									selected="true" radiogroup="rgTraitterm" label="Legacy" />
								<radio id="radioCoTrait"
									radiogroup="rgTraitterm" label="CO Terms" />
						</div>
						<div visible="false">
          				<label value="    Dataset  " pre="true" style="font-weight:bold;" visible="false"/>
						<listbox id="listboxDataset" class="z-dataset-dropdown" mold="select" width="80px"  visible="false">
						<listitem value="3k" label="3kRGP" selected="true"/>
						<listitem value="hdra" label="HDRA"/>
						<listitem value="gq92" label="GQ92"/>
						<listitem value="wissuwa" label="WISSUWA9"/>
						<listitem value="3k+hdra" label="3k+HDRA"/>
						<listitem value="3k+gq92" label="3k+GQ92"/>
						<listitem value="3k+wissuwa" label="3k+WISSUWA9"/>
						<listitem value="all" label="All"/>
						</listbox>
						<listbox id="listboxDatasetSnpOps" mold="select" width="80px" visible="false">
						<listitem label="intersect" selected="true"/>
						<listitem label="union"/>
						</listbox>
						</div>
						<vbox width="30px"/>
						<label value="Mismatch only " pre="true" style="font-weight:bold;" tooltip="popupMatchOnly"/>
			    		<checkbox id="checkboxMismatchOnly" class="z-mismatch-option" checked="false" />
						
          				<label pre="true" value="Exact mismatch" style="font-weight:bold;"  visible="false"/>
          				<checkbox id="checkboxExactMismatch" checked="true" tooltip="popupExactMismatch" disabled="true"  visible="false"/>			    		
						
						
         			</hbox>

    				<hbox visible="false" id="advanceOptions4">
    					<label pre="true" value="SNP coloring  " style="font-weight:bold;"/>
               	 		<radio id="radioColorMismatch" label="" radiogroup="snpcolor"  selected="true"/>
               	 		<label value="Reference mismatch"  tooltip="popupSNPColoringMismatch"/>
               	 		<vbox width="6px"/>
         				<radio id="radioColorAllele" label="" radiogroup="snpcolor"/>
         				<label value="Nucleotide" tooltip="popupSNPColoringAllele"/>
						<hbox width="30px"/>
						
						
						
						<div visible="false">
						<label pre="true" value="Core SNPs only " style="font-weight:bold;"  tooltip="popupCoreSNP"/>
          				<checkbox id="checkboxCoreSNP" checked="false"  disabled="false" />
          				</div>
          				
						<label pre="true" value="3k Snp set " style="font-weight:bold;"  tooltip="popupSNPSet"  visible="false"/>
          				<listbox id="listboxSnpset" disabled="false" mold="select"  visible="false">
          				<listitem value="all_snp" label="All (32M)"/>
          				<listitem value="base_snp"  label="Base (18M)"/>
          				<listitem value="filtered_snp" selected="true"  label="Filtered (4.8M)"/>
          				<listitem value="core_snp" label="Core (404k)"/>
          				</listbox>
          			</hbox>	  
          			<hbox>

         				<label pre="true" value="Include SNPs  " style="font-weight:bold;"/>
         				<radio id="radioAllSnps" label="" radiogroup="radiogroupShowsnps"  selected="true" disabled="false" />
         				<label  value="All"  tooltip="popupAllSnps"/>
         				<vbox width="6px"/>
			    		<radio id="radioNonsynHighlights" label="" radiogroup="radiogroupShowsnps"  disabled="false" />
			    		<label value="All, highlight Nonsynonymous" tooltip="popupAllNonsynHighlights" />
			    		<div visible="false">
				    		<vbox width="6px"/>
	         				<radio id="radioNonsynSnps" label="" radiogroup="radiogroupShowsnps"  disabled="false" />
	         				<label value="Non-synonymous only" tooltip="popupNonsynSnps"/>
         				</div>
         				<vbox width="6px"/>
         				<radio id="radioNonsynSnpsPlusSplice" label="" radiogroup="radiogroupShowsnps"  disabled="false" />
         				<label value="Non-synonymous only" tooltip="popupNonsynSnpsPlusSplice"/>
         				
         				
         				<div visible="false">
         				<vbox width="20px"/>
         				<label pre="true" value="Synonymous SNPs  " style="font-weight:bold;"/>
         				<radio id="radioShowSyn" label="  Include " radiogroup="synonymoussnps"  selected="true" tooltip="popupSynonymousShow"/>
         				<radio id="radioGraySynonymous" label=" Grayed " radiogroup="synonymoussnps" tooltip="popupSynonymousGray"/>
			    		<radio id="radioNonsynOnly" label=" Exclude " radiogroup="synonymoussnps" tooltip="popupSynonymousExclude" />
			    		<vbox width="30px"/>
			    		</div>

						<div visible="false">
			    		<vbox width="20px"/>
			    		<label value="SNP Splice variant as Nonsynonymous" pre="true" style="font-weight:bold;"/>
			    		<checkbox id="checkboxSpliceSnps" checked="true" tooltip="popupSpliceVariant"/>
			    		</div>
			    		
			    		<vbox width="20px"/>
			    		<label value="Missing allele " pre="true" style="font-weight:bold;" tooltip="popupMissingAllele"/>
			    		<listbox id="listboxMissingAllele" mold="select" width="120px">
			    		<listitem value="ignore" selected="true" label="Ignore in count"/>
			    		<listitem value="half" label="0.5 mis/0.5match"/>
			    		</listbox>
          			
         			</hbox>	
         			
         			
    				</vbox>

				<!--  *********************   DOWNLOAD BUTTONS ************************************* -->

					<vbox>
            		<button id="buttonSearch" class="z-search-button" label="SEARCH"   style="font-size:16px;font-weight:bold;color:gray;"
			    	   width="100px" height="50px"  autodisable="self"
			    	   xmlns:w="http://www.zkoss.org/2005/zk/client"			    	   			    	   
			    	   w:onClick="var t = zk.Widget.$('$msgbox');t.$n().value=(' ');t.updateChange_();"
			    	/>
			    	<hbox height="5px"/>
            		<button id="buttonDownloadFasta" label="FASTA"   style="font-size:16px;font-weight:bold;color:gray;" visible="false" 
			    	   width="100px" height="30px"  autodisable="self"
			    	   xmlns:w="http://www.zkoss.org/2005/zk/client"			    	   			    	   
			    	   w:onClick="var t = zk.Widget.$('$msgbox');t.$n().value=(' ');t.updateChange_();"
			    	/>
			    	
			    	</vbox>

            </row>
        </rows>
    </grid>
    </vbox>
    

	<tipBox height="305px" width="400px" desc="     SNP QUERY" 
		details1= "  1. Select two varieties to compare; OR "
		details2= "		Compare All Varieties, members of a Subpopulation"
		details3= "     or Variety List, with the Reference"
		details4= "  2. Specify region(chromosome, start and end) "
		details5= "             OR Gene LOC_Os (MSU locus name)" 
		details6= "  3. Set options and click action button"
		details7= "  Results"
		details8= "   Table: Allele for Varieties x SNP positions"
	   details10= "   JBrowse: SNPs plot in genome"
	   details11= "   Tree: Phylogenetic tree based on the number " 
	   details12= "    of allele mismatches in the region"
	   details13= "   PhyloJBrowse: SNPs in JBrowse with varieties"
	   details14= "    ordered using phylotree clustering result."
	/>

	</hbox>
	
	</vbox>
	
	<!--  separator bar="true" visible="false" id="separator" width="100%"/ -->
	
	<splitter id="splitter" collapse="before" open="true" width="100%"/>
	
	<vbox>
    
    <label id="snpallvarsresultMsg" visible="false"/>
 
  
  
   <tabbox id="tabboxDisplay" class="table-navigation-bar" > <!-- width="100%" -->  
        <tabs>  
            <tab id="tabTable" label="Table" selected="true"/>  
            <tab id="tabTableLarge" label="Overview" visible="false"/>
            <!--  tab id="tabBiglist" label="BigTable" visible="true"/ -->
            <tab id="tabSnpeff" label="Snp Effects" visible="false"/>  
            <tab id="tabJbrowse" label="JBrowse" visible="false"/>  
            <tab id="tabHaplotype" class="z-haplotype" label="Haplotype view" visible="false"/>
            <tab id="tabMSA" label="Alignment"  visible="false"/>  
            <tab id="tabVista" label="Compare genomes" visible="false"/>  
            <tab id="tabVistaRev" label="Compare rev genomes" visible="false"/>
            <tab id="tabVistaNPB" label="NPB Compare Genomes" visible="false"/>
            <tab id="tabPhylo" label="Phylotree" visible="false"/>  
            <tab id="tabMDS" label="MDS plot" visible="false"/>  
            <tab id="tabJBrowsePhylo" label="PhyloJBrowse" visible="false"/>  
            <tab id="tabGalaxy" label="Galaxy Tools" visible="false"/>  
        </tabs>  
        <tabpanels>
        
    <!--  *********************   DISPLAY GENOTYPE MATRIX TAB  *********************************************************************************** -->
          
    <tabpanel id="tabpanelTable" class="z-genotype-tabpanel" > <!--    vflex="1" style="overflow:auto" -->  
    
    <vbox>
    
    <vbox id="divDownloadOnlyMsg" class="download-only-message" visible="false">
    <label id="labelDownloadOnlyMsg" style="font-weight:bold;font-size:14px"/>
    <hbox>
    <radiogroup id="rgWait"/>
    <label style="font-weight:bold;font-size:12px" class="download-message-one" value="Operation can take some time to finish. (~5 mins/1000snps). Varieties are NOT sorted by score/mismatch/match."/>
		    <div visible="false">
		    <radio id="radioWait" radiogroup="rgWait"/>
		    <label style="font-weight:bold;font-size:12px" pre="true" value=" WAIT or "/> <radio id="radioAsync" radiogroup="rgWait"  selected="true" />
		    <label style="font-weight:bold;font-size:12px" pre="true" value=" QUERY AND CHECK LATER"/>
		    </div>
    </hbox>
    <vbox>
    <hbox id="hboxPolluxUrl" class="download-message-two" visible="false">
    <label  style="font-weight:bold;font-size:12px" value="For large downloads, users within IRRI may use the local server at "/>
    <a class="download-message-three" href="http://pollux:8080/iric-portal/_snp.zul" label="http://pollux:8080/iric-portal/_snp.zul" target="_pollux"/>
    </hbox>
    <hbox>
    <label id="labelDownloadProgressMsg" style="font-weight:bold;font-size:12px"/><vbox width="20px"/>
    <a id="aDownloadProgressURL" target="_job"/>
    </hbox>
    </vbox>
    </vbox>
    
	<hbox id="hboxDownload" class="download-tab" visible="false">
			<label pre="true" value="Download  "  style="font-weight:bold;"/>
			<button id="buttonDownloadCsv" class="z-download-csv" label="CSV" width="80px" height="30px"  autodisable="self"/>
	  		<vbox width="10px"/>
			<button id="buttonDownloadTab" class="z-download-tab" label="Tab" width="80px" height="30px"  autodisable="self"/>
			<vbox width="10px"/>
			<button id="buttonDownloadPlink" class="z-download-plink" label="Plink" width="80px" height="30px"  autodisable="self"/>
			<vbox width="10px"/>
			<button id="buttonDownloadFlapjack" class="z-download-flapjack"  label="Flapjack" width="80px" height="30px"  autodisable="self"/>
			<vbox width="20px"/><checkbox id="checkboxCreateHaplotype" class="haplotype-invisible" checked="false" label=" Generate Haplotype Map" visible="false"/>
	</hbox>

    <div id="divTablePanel" visible="false">
    
    <!-- listbox id="snpallvarsresult"  visible="false" fixedLayout="true" mold="select"   width="1450px"-->
	<!--  div style="overflow:auto;position:relative" -->  
	<!--  div style="border: none; overflow-x:auto; overflow-y:auto;position:relative" -->
	<hbox>
		<hbox id="divAlignIndels" visible="false">
			<label value="Align indels  " pre="true" style="font-weight:bold" />
			<checkbox id="checkboxAlignIndels" checked="true" tooltip="popupAlignIndels"/>
			<vbox width="50px" />
		</hbox>		
	
	
		
		<hbox id="hboxFilterAllele" visible="false">
			<hbox>
				<button id="buttonCreateVarlist" label="Create List"/>
				<label pre="true" value="   List Name  "/>
				<textbox id="textboxVarlistName"/>
				<vbox width="40px"/>
			</hbox>
			<vbox width="100px"/>
		
			<vbox>
				<hbox>
					<label value="Table Filters" style="font-weight:bold;"/>
					<vbox width="20px"/>
					<label>Column:</label>
					<listbox id="listboxPosition"  mold="select"  rows="1" />
					<hbox width="15px"/>
					<label>Value:</label>
					<listbox id="listboxAllele" mold="select" rows="1"/>
					<hbox width="15px"/>
					<button id="buttonFilterAllele" label="Add Filter"/>
					<button id="buttonClearFilterAllele" label="Clear All Filters"/>
				</hbox>
		
				<hbox visible="false">
					<label value="Sort by SNP list alleles" style="font-weight:bold;"/>
					<vbox width="20px"/>
					<listbox id="listboxSNPListAlleles" mold="select" rows="1"/>
					

					<hbox width="15px"/>
					<button id="buttonSNPSorter" label="Sort SNPs"/>
					<hbox width="15px"/>
					<checkbox id="checkboxSNPSorterMismatchonly" label=" Exclude no single match" visible="false"/>
				</hbox>		
				<hbox>
					<label value="Active filters" style="font-weight:bold;"/>
					<label id="labelFilterResult" />
				</hbox>
			</vbox>													
		</hbox>
	</hbox>
	
		<div id="divIndelLegend" visible="false">
		<hbox>
			<label value="Position color code: " style="font-weight:bold" pre="true"/>
			<label value="deletion region, " style="color:blue"  pre="true"/>
			<label value="insertion region " style="color:green"  pre="true"/>
		</hbox>
		</div>
		
		<hbox visible="true" id="hboxColorcodeSNPQuery">
			<label value="Allele color code: " style="font-weight:bold" pre="true"/>
			<label value="mismatch " style="color:red"  pre="true"/>
			<!-- label value="synonymous " style="color:lightgray;background:white"  pre="true"/ -->
			
			<label value="non-synonymous " style="color:red;background:black;font-weight:bold"  pre="true"/>
			<label value="splice donor SNP " style="color:aqua"  pre="true"/>
			<label value="splice acceptor SNP " style="color:chartreuse"  pre="true"/>
			<label value="gap - " pre="true"/>
		
		</hbox>
		<hbox id="hboxColorcodeGenotypeMatch" visible="false">
			<label value="Allele color code: " style="font-weight:bold" pre="true"/>
			<label value="query match " style="color:blue"  pre="true"/>    
		</hbox>
			
		    	
		<hbox class="biglistbox-table">
			<grid id="gridBiglistheader" width="400px" height="800px" visible="false"  style="overflow-x: hidden; overflow-y:hidden">
				<auxhead id="auxhead1Header" height="97px" visible="false">
		            <auxheader id="auxheader11Header" label="Variety name"     sclass="word-wrap" />
		            <auxheader label=""/>
		            <auxheader label=""/>
		            <auxheader label=""/>
		            <auxheader label=""/>
		            <auxheader label=""/>
		            <auxheader label=""/>
		        </auxhead>
				<auxhead id="auxhead2Header" height="32px" visible="false">
		            <auxheader id="auxheader21Header" label="Alleles"     sclass="word-wrap" />
		            <auxheader label=""/>
		            <auxheader label=""/>
		            <auxheader label=""/>
		            <auxheader label=""/>
		            <auxheader label=""/>
		            <auxheader label=""/>
		        </auxhead>
				<auxhead height="97px" visible="true">
		            <auxheader id="auxheader3Header" label="Nipponbare positions"    sclass="word-wrap" />
		            <auxheader id="auxheaderIrisid" label="Assay"/>
		            <auxheader label="Accession"/>
		            <auxheader label="Subpopulation"/>
		            <auxheader label="Dataset"/>
		            <auxheader id="auxheaderBiglistheaderMismatch" label="Mismatch"/>
		            <auxheader id="auxheader3Phenotype" label=""/>
		        </auxhead>
		        <columns>
		            <column  id="column4Header" label="Nipponbare"   width="300px"  />
		            <column width="100px" ></column>
		            <column width="100px" ></column>
		            <column width="150px"  ></column>
		            <column width="50px"  ></column>
		            <column width="50px"  ></column>
		            <column width="50px" visible="false"></column>
		        </columns>
		        <auxhead id="auxheadAlleles1" height="32px" visible="false">
		            <auxheader id="auxheaderAlleles1" label=""     sclass="word-wrap" />
		            <auxheader label=""/>
		            <auxheader label=""/>
		            <auxheader label=""/>
		            <auxheader label=""/>
		            <auxheader label=""/>
		            <auxheader label=""/>
		        </auxhead>
		        <auxhead id="auxheadAlleles2" height="32px" visible="false">
		            <auxheader id="auxheaderAlleles2" label=""     sclass="word-wrap"  />
		            <auxheader label=""/>
		            <auxheader label=""/>
		            <auxheader label=""/>
		            <auxheader label=""/>
		            <auxheader label=""/>
		            <auxheader label=""/>
		        </auxhead>
		        <auxhead id="auxheadAlleles3" height="32px" visible="false">
		            <auxheader id="auxheaderAlleles3" label=""     sclass="word-wrap" />
		            <auxheader label=""/>
		            <auxheader label=""/>
		            <auxheader label=""/>
		            <auxheader label=""/>
		            
		            <auxheader label=""/>
		            <auxheader label=""/>
		        </auxhead>
		        <auxhead id="auxheadAlleles4" height="32px" visible="false">
		            <auxheader id="auxheaderAlleles4" label=""     sclass="word-wrap" />
		            <auxheader label=""/>
		            <auxheader label=""/>
		            <auxheader label=""/>
		            <auxheader label=""/>
		            <auxheader label=""/>
		            <auxheader label=""/>
		        </auxhead>
		        <auxhead id="auxheadAlleleFilter" height="32px" visible="false">
		            <auxheader id="auxheaderAlleleFilter" label="Query alleles"    sclass="word-wrap" style="font-color:blue" />
		            <auxheader label=""/>
		            <auxheader label=""/>
		            <auxheader label=""/>
		            <auxheader label=""/>
		            <auxheader label=""/>
		            <auxheader label=""/>
		        </auxhead>
		        
			</grid>
			
			<div>
			<custom-attributes org.zkoss.zkmax.zul.biglistbox.rod="true"/> 
				<biglistbox id="biglistboxArray" class="z-biglistbox-one" height="800px"  visible="false" width="90%" hflex="0" vflex="0" xmlns:w="client" w:onScroll="jq('$tip').fadeOut();"/>
			<!--  biglistbox id="biglistboxArray" visible="false" hflex="1" vflex="0" / -->
			</div>
		</hbox>
		
		
		<!--  *********************   DISPLAY ALLELE FREQUENCY PLOT *********************************************************************************** -->
		
		
		<hbox id="hboxAlleleFrequency" visible="false">
			<vbox width="200px">
			<!--  checkbox id="checkboxShowAlleleFrequency" label="Show allele frequency"/>
			<checkbox id="checkboxShowAlleleCount" label="Show allele count"/>
			<checkbox id="checkboxMajorAlleles" label="Show major alleles"/>
			<checkbox id="checkboxMinorAlleles" label="Show minor alleles"/>
			<checkbox id="checkbox3rdAlleles" label="Show 3rd alleles"/ -->
			
			<radiogroup id="radiogroupAllelefreqcount"/>
			<radiogroup id="radiogroupMajorminor"/>
			<hbox height="30px"/>
			<radio id="radioShowAlleleFrequency" label="Show allele frequency" radiogroup="radiogroupAllelefreqcount" selected="true"/>
			<radio id="radioShowAlleleCount" label="Show allele count" radiogroup="radiogroupAllelefreqcount"/>
			<radio id="radioShowGenotypeFrequency" label="Show genotype frequency" radiogroup="radiogroupAllelefreqcount"/>
			<radio id="radioShowGenotypeCount" label="Show genotype count" radiogroup="radiogroupAllelefreqcount"/>
			<hbox height="10px"/>
			<radio id="radioMajorAlleles" label="Major alleles" radiogroup="radiogroupMajorminor" selected="true"/>
			<radio id="radioMinorAlleles" label="Minor alleles" radiogroup="radiogroupMajorminor"/>
			<radio id="radio3rdAlleles" label="3rd alleles" radiogroup="radiogroupMajorminor"/>
			<radio id="radio4thAlleles" label="4th alleles" radiogroup="radiogroupMajorminor" visible="false"/>
			<hbox height="10px"/>
			<label value="Click in legend to hide/show series"/>
			<button id="buttonResetzoom" label="Reset Zoom" visible="false"/>
			</vbox>
			
			<!--  charts id="chartAlleleFrequency" type="line"  title="Allele frequency" width="1000" height= "400" zoomType="xy" / -->
		</hbox>		
		
		

    	
    	
    	</div>
    	
    	<div id="divPairwise" visible="false">
    	
    	<!--  *********************   DISPLAY PAIRWAISE VARIETY COMPARISON TABLE  *********************************************************************************** -->
    	
    	
    	<hbox>
			<label pre="true" value="Download  "  style="font-weight:bold;"/>
			<button id="buttonDownloadPairwiseCsv"  label="CSV" width="60px" height="30px"  autodisable="self"/>
	  		<vbox width="10px"/>
			<button id="buttonDownloadPairwiseTab"  label="Tab" width="60px" height="30px"  autodisable="self"/>
		</hbox>
    	<hbox height="10px"/>
    	
		<listbox id="listboxSnpresult" class="pairwise-table" fixedLayout="true" mold="paging" pageSize="100" >
			 <auxhead id="auxheadMultirefPairwise" visible="false">
		        <auxheader id="auxheaderMultirefPairwise" label="" colspan="3" />
		        <auxheader label="NIPPONBARE" colspan="3" />
		        <auxheader label="COMPARE VARIETIES" colspan="2" />
		    </auxhead>
			<listhead class="haplotype-table" >
				<listheader id="listheader1MultirefPairwise" visible="false" label="CONTIG"/>
				<listheader id="listheader2MultirefPairwise" visible="false" label="POSITION"/>
				<listheader id="listheader3MultirefPairwise" visible="false" label="REFERENCE"/>
				<listheader label="CONTIG"/>
				<listheader label="POSITION"/>
				<listheader id="listHeaderVar2Reference" label="NPB REFERENCE"/>
				<listheader id="listheaderVar1MultirefPairwise"></listheader>
				<listheader id="listheaderVar2MultirefPairwise"></listheader>			
			</listhead>
		</listbox>
		</div>
    	
    </vbox>

</tabpanel>  



    <tabpanel id="tabpanelTableLarge">
    <biglistbox id="biglistboxArrayLarge" class="z-biglistbox-two" height="800px" sclass="mylist" visible="false" width="90%" hflex="0" vflex="0" xmlns:w="client" w:onScroll="jq('$tip').fadeOut();"/>
    </tabpanel>

    <tabpanel id="tabpanelSnpeff">
    
    <listbox id="listboxSnpeff" mold="paging" pageSize="100" sizedByContent="true" span="true">
    <listhead sizable="true">

<!--  listheader label="POSITION" sort="auto" width="8%"/>
<listheader label="&quot;deleteriousness&quot rank;" sort="auto" width="50px"  sortAscending="${snpeffasc1}" sortDescending="${snpeffdsc1}" />
<listheader label="ALT" sort="auto" width="20px"/>
<listheader label="ANNOT" sort="auto" width="80px"/>
<listheader label="IMPACT" sort="auto" width="50px"/>
<listheader label="GENE" sort="auto" width="50px"/>
<listheader label="TRANS BIOTYPE" sort="auto" width="50px"/>
<listheader label="HGVS.c" sort="auto" width="50px"/>
<listheader label="HGVS.P" sort="auto" width="50px"/>
<listheader label="ANN" sort="auto" />
<listheader label="LOF" sort="auto"  width="3%"/>
<listheader label="NMD" sort="auto"  width="3%"/ -->

    
<listheader label="POSITION" sort="auto" width="10%"/>
<listheader label="&quot;DELETERIOUSNESS&quot;" sort="auto" width="10%"   sortAscending="${snpeffasc1}" sortDescending="${snpeffdsc1}" />
<listheader label="Alt (ANN)" sort="auto" width="10%"/>
<listheader label="Effect (ANN)" sort="auto" width="10%"/>
<listheader label="Putative_impact (ANN)" sort="auto" width="10%"/>
<listheader label="Gene Name (ANN)" sort="auto" width="10%"/>
<listheader label="Gene ID (ANN)" sort="auto" width="10%"/>
<listheader label="Feature type (ANN)" sort="auto" width="10%"/>
<listheader label="Feature ID (ANN)" sort="auto" width="10%"/>
<listheader label="Transcript Biotype (ANN)" sort="auto" width="10%"/>
<listheader label="Rank/Total (ANN)" sort="auto" width="10%"/>
<listheader label="HGV S.c (ANN)" sort="auto" width="10%"/>
<listheader label="HGV S.p (ANN)" sort="auto" width="10%"/>
<listheader label="cDNA position (ANN)" sort="auto" width="10%"/>
<listheader label="cDS position (ANN)" sort="auto" width="10%"/>
<listheader label="Protein position" sort="auto" width="10%"/>
<listheader label="Distance to feature (ANN)" sort="auto" width="10%"/>
<listheader label="Errors,Warnings Info msgs (ANN)" sort="auto" width="10%"/>
<listheader label="LOF" sort="auto"  width="10%"/>
<listheader label="NMD" sort="auto"  width="10%"/>


<!--   listheader label="Allele" sort="auto" />
<listheader label="Annotation" sort="auto" />
<listheader label="Annotation_Impact" sort="auto" />
<listheader label="Gene_Name" sort="auto" />
<listheader label="Gene_ID" sort="auto" />
<listheader label="Feature_Type" sort="auto" />
<listheader label="Feature_ID" sort="auto" />
<listheader label="Transcript_BioType" sort="auto" />
<listheader label="Rank" sort="auto" />
<listheader label="HGVS.c" sort="auto" />
<listheader label="HGVS.p" sort="auto" />
<listheader label="cDNA.pos / cDNA.length" sort="auto" />
<listheader label="CDS.pos / CDS.length" sort="auto" />
<listheader label="AA.pos / AA.length" sort="auto" />
<listheader label="Distance" sort="auto" />
<listheader label="ERRORS / WARNINGS / INFO" sort="auto" />
<listheader label="Gene_Name" sort="auto" />
<listheader label="Gene_ID" sort="auto" />
<listheader label="Number_of_transcripts_in_gene" sort="auto" />
<listheader label="Percent_of_transcripts_affected" sort="auto" />
<listheader label="Gene_Name" sort="auto" />
<listheader label="Gene_ID" sort="auto" />
<listheader label="Number_of_transcripts_in_gene" sort="auto" />
<listheader label="Percent_of_transcripts_affected" sort="auto" / -->

 </listhead>
 </listbox>
 
 
	</tabpanel>
	            
<tabpanel id="second"> 
	 
	 
	 <!--  *********************   DISPLAY JBROWSE TAB *********************************************************************************** -->
	 
	 
	<vbox>
	<hbox>
	<label id="msgJbrowse"  visible="false" style="font-family: arial;font-size:16px" />
	
	<hbox width="80px"/>
	
	<div id="divNucleotide" visible="false">
	<label value="SNP Genotype Track color code:     "  pre="true"/>
	<label value="A  " style="color:green" pre="true"/>
	<label value="T  " style="color:red" pre="true"/>
	<label value="G  " style="color:orange" pre="true"/>
	<label value="C  " style="color:blue" pre="true"/>
	<label value="heterozygous   " style="color:yellow;background:gray" pre="true"/>
	</div>
	
	<div id="divNucleotideIndels" visible="false">
	<label value="SNP Genotype Track color code:     "  pre="true"/>
	<label value="insertion  " style="color:green" pre="true"/>
	<label value="snp/substitution   " style="color:red" pre="true"/>
	<label value="deletion  " style="color:blue" pre="true"/>
	<label value="heterozygous   " style="color:yellow;background:gray" pre="true"/>
	<label value="reference   " style="color:black" pre="true"/>
	</div>
	
	
	<div id="divMismatch"  visible="false">
	<label value="SNP Genotype Track color code:     "  pre="true"/>
	<label value="non-synonymous mismatch " style="color:red" pre="true"/>
	<label value="synonymous mismatch " style="color:darkgray" pre="true"/>
	<!--  label value="allele match   " style="color:white;background:lightgray" pre="true"/ -->
	<label value="heterozygous   " style="color:yellow;background:gray" pre="true"/>
	<!-- label value="insertion   " style="color:green" pre="true"/>
	<label value="deletion   " style="color:blue" pre="true"/>
	<label value="reference   " style="color:black" pre="true"/ -->
	<label value="splice donor SNP " style="color:aqua"  pre="true"/>
	<label value="splice acceptor SNP " style="color:chartreuse"  pre="true"/>
	
	</div>
	
	<!--  div id="divBlackSyn"  visible="false">
	<label value="synonymous mismatch " style="color:darkgray" pre="true"/>
	</div -->
	
	</hbox>
	
	
	<!--  iframe id= "iframeJbrowse"  align="left" visible="true" style="width:95%;height:3000px;border:0px inset;" src="${jbrowsestart}" / -->
	<iframe id= "iframeJbrowse"  align="left" visible="true" style="width:95%;height:100%;border:0px inset;" src="${jbrowsestart}" />
	</vbox>

  </tabpanel>
  
  <!--  *********************   DISPLAY HAPLOTYPE TAB  *********************************************************************************** -->
  
  <tabpanel id="tabpanelHaplotype">
  	
  	<hbox>
  	<label value="Resolution " pre="true"/>
  	<listbox id="listboxHaploResolution" mold="select" width="100px">
  		<listitem value="SNP" label="per SNP" selected="true"/>
  		<listitem value="100" label="per 100bp"/>
  		<listitem value="10" label="per 10bp"/>
  	</listbox>
  	<hbox width="20px"/>
  	<label value="Clustering distance weight " pre="true"/>
  	<label id="labelGlobal" value="Global 0.15"/>
  	<slider id="sliderClusterWieght" mode="decimal" step="0.05" maxpos="1.0" minpos="0.0" curpos="0.85"  width="150px"/>
  	<label id="labelLocal" value="Local 0.85"/>
  	<hbox width="20px"/>
  	<button id="buttonHaploUpdate" label="Update"/>
 	<hbox width="20px"/>
 	<label value="Download"/>
  	<button id="buttonHaploOrder" class="z-variety-order" label="Variety order" disabled="true"/>
  	<hbox width="10px"/>
  	<button id="buttonHaploImage" class="z-image" label="Image" disabled="true"/>  	
  	</hbox>
  	<vbox height="10px"/>
  	<hbox>
  	<label value="Group varieties (by haplotypes) using" pre="true" />
  	<hbox width="20px"/>
 	<listbox id="listboxKgroupMethod" mold="select" width="230px">
  		<!--  listitem value="kmeans" label="K-means"  -->
  		<listitem value="nogroups" label="no grouping"/>
  		<listitem value="autogroup" label="auto-group"/>
  		<listitem value="cuttreegroup" label="cuttree: groups"  selected="true"/>
  		<!--  listitem value="cuttreegroup_norm" label="cuttree: groups (relative # of groups)"/ -->
  		<listitem value="cuttreeheight" label="cuttree: height"/>
  		<listitem value="cuttreeheight_norm" label="cuttree: height (normalized log)"/>
  	</listbox> 	
  	<hbox width="10px"/>
  	<decimalbox id="intboxKgroupThreshold" value="0" visible="false"/>
  	<!--  slider id="sliderCuttreeThreshold" mode="decimal" step="1.0" maxpos="100.0" minpos="0.0" curpos="75.0" visible="false" width="150px"/ -->
  	<!--  textbox id="textboxCuttreeThreshold" value="75.0" readonly="true" width="60px" visible="false"/ -->
  	<slider id="sliderCuttreeThreshold" mode="decimal" step="1.0" maxpos="15.0" minpos="1.0" curpos="3.0" visible="true" width="150px"/>
  	<textbox id="textboxCuttreeThreshold" value="3.0" readonly="true" width="60px" visible="true"/>
  	<listbox id="listboxAutogroup" mold="select" width="150px"  visible="false">
  		<listitem value="pamk" label="pamk"/>
  		<listitem value="calinski" label="calinski"    selected="true"/>
  	</listbox>
  	<hbox width="60px"/>
  	<label value="Image resolution"/>
  	<listbox id="listboxImagesize" mold="select" width="150px"  visible="true">
  		<listitem value="0" label="low (72dpi)"/>
  		<listitem value="2" label="medium (300dpi)" selected="true"/>
  		<listitem value="1" label="high (800dpi)"/>
  	</listbox>
  	
  	
  	</hbox>
  	<vbox height="30px"/>
  	<button id="buttonHaplotypelog" class="z-log-button" label="Log" visible="false" target="_blank"/>

	<vbox width="100%">
		
		<!--  splitter id="s1" collapse="before" open="false"/ -->
	  	
	  	<tabbox width="100%">   
	  	  <tabs>
	            <tab id="tabHaploHaploview" label="Haplotype" selected="true"/>
	            <tab id="tabHaploGroupAlleles" label="Group alleles"/>
	            <tab id="tabHaploAutogroups" label="Autogroup calculations"/>
	            <tab id="tabHaploTree" label="Phylogenetic tree"/>
	      </tabs>  
	      <tabpanels>
	  	  <tabpanel>
 	  		<iframe id="iframeHaplotype" width="90%" height="1000px"/>
	  	  </tabpanel>
	  	  <tabpanel>
			  	  <vbox id="vboxGroupAlleleFrequency" visible="false">
					<label value="Group major alleles" style="font-size:18px;font-weight:bold" />
					<button id="buttonDownloadGroupMatrix" class="z-download-alleles" label="Download group alleles" width="200px"/>
					<div style="overflow:auto;position:relative">
		  			<listbox id="listboxGroupAlleleMatrix" width="80%">
		  				<listhead id="listheadGroupAlleleMatrix" sizable="true">
						<listheader label="KGROUP" sort="auto"/>
						<!--  listheader label="SAMPLES"/ -->
						<listheader label="SUBPOP:COUNT"/>
						<listheader label="SAMPLES" sort="auto"/>
						<listheader label="FREQUEMCY" sort="auto"/>
						</listhead>
					</listbox>
					</div>
					<hbox height="30px"/>
					<label value="Select a Phenotype to display value distribution for each group" style="font-size:12px;font-weight:bold" />
					<button id="buttonAddPhenValuesToMatrix" label="Append values to table" visible="false"/>
					<hbox width="100%">
					
						<vbox width="700px">
						<div id="divGroupPhenoQuant" visible="false">
						<hbox>
						<label>Type</label><vbox width="20px"/>
						<radiogroup id="rgPhenochartType">
						<hbox>
						<radio id="radioGroupPhenotypeBox" label="box plot" radiogroup="rgPhenochartType" selected="true"/>
						<vbox width="30px"/>
						<radio id="radioGroupPhenotypeErrorbars" label="error bars" radiogroup="rgPhenochartType"/>
						</hbox>
						</radiogroup>
						</hbox>
						
						<div id="divGroupPhenoQuantBox">
						<hbox>
			  			<checkbox id="checkboxOutlierGroupPhenotypeBox" label=  "Show 1.5xIQR outliers"/>
			  			<vbox width="100px"/><label value="(select region to show varieties)"/>
			  			</hbox>
			  			<!--  charts id="chartGroupPhenotypeBox" type="boxplot" title="Group phenotype quartiles" visible="false"  zoomType="xy"/ -->
			  			</div>
			  			<!--  charts id="chartGroupPhenotypeErrorbars" title="Group phenotype mean+stddev" zoomType="xy"  visible="false"/ -->
			  			</div>
			  			
			  			<div id="divGroupPhenoCat">
			  			<hbox>
			  			<checkbox id="checkboxNormalizeStackedCategories" label="Normalize category count"/>
			  			<vbox width="100px"/><label value="(click region to show varieties)"/>
			  			</hbox>
			  			<!--  charts id="chartGroupPhenotypeStacked" type="column" title="Group phenotype value" visible="false" zoomType="y" / -->
			  			</div>
			  			</vbox>
			  			<vbox>
			  			<label id="labelGroupVarietyPhenotype"  visible="false"/>
			  			<listbox id="listboxGroupVarietyPhenotypeStacked" visible="false" mold="paging" pageSize="20">
			  				<listhead>
			  				<listheader label="VARIETY" sort="auto"/>
			  				<listheader label="ACCESSION"  sort="auto"/>
			  				<listheader label="SUBPOP" sort="auto"/>
			  				<listheader id="listheaderGroupVarietyPhenotypeStackedPhenotype"  sort="auto"/>
			  				</listhead>
			  			</listbox>
			  			</vbox>
		  			</hbox>
		  			
		  			
		  			
		  			<vbox height="30px"/>
		  			<hbox>
					<vbox width="200px">
					<!--  checkbox id="checkboxShowAlleleFrequency" label="Show allele frequency"/>
					<checkbox id="checkboxShowAlleleCount" label="Show allele count"/>
					<checkbox id="checkboxMajorAlleles" label="Show major alleles"/>
					<checkbox id="checkboxMinorAlleles" label="Show minor alleles"/>
					<checkbox id="checkbox3rdAlleles" label="Show 3rd alleles"/ -->
					
					<radiogroup id="radiogroupGroupAllelefreqcount"/>
					<radiogroup id="radiogroupGroupMajorminor"/>
					<hbox height="30px"/>
					<radio id="radioGroupShowAlleleFrequency" label="Show allele frequency" radiogroup="radiogroupGroupAllelefreqcount" selected="true"/>
					<radio id="radioGroupShowAlleleCount" label="Show allele count" radiogroup="radiogroupGroupAllelefreqcount"/>
					<radio id="radioGroupShowGenotypeFrequency" label="Show genotype frequency" radiogroup="radiogroupGroupAllelefreqcount"/>
					<radio id="radioGroupShowGenotypeCount" label="Show genotype count" radiogroup="radiogroupGroupAllelefreqcount"/>
					<hbox height="10px"/>
					<radio id="radioGroupMajorAlleles" label="Major alleles" radiogroup="radiogroupGroupMajorminor" selected="true"/>
					<radio id="radioGroupMinorAlleles" label="Minor alleles" radiogroup="radiogroupGroupMajorminor"/>
					<radio id="radioGroup3rdAlleles" label="3rd alleles" radiogroup="radiogroupGroupMajorminor"/>
					<radio id="radioGroup4thAlleles" label="4th alleles" radiogroup="radiogroupGroupMajorminor" visible="false"/>
					<hbox height="10px"/>
					<label value="Click in legend to hide/show series"/>
					<button id="buttonGroupResetzoom" label="Reset Zoom" visible="false"/>
					</vbox>
					
					<!--  charts id="chartGroupAlleleFrequency" type="line"  title="Group Allele frequency" width="1000" height= "400" zoomType="xy" / -->
					</hbox>		
				</vbox>
	  	  </tabpanel>
	  	  <tabpanel>
 	  		<iframe id="iframeAutogroups" width="100%" height="1000px"/>
	  	  </tabpanel>
	  	  <tabpanel>
	  	  <vbox>
	  	  	<hbox><button id="buttonHaploDownloadNewick" label="Download Newick"/><vbox width="20px"/>
	  	  	<button id="buttonHaploDisplayTree" label="Display Tree"/></hbox>
	  	  	<iframe id="iframeHaplotypeTree" width="100%" height="1000px"/>
	  	  </vbox> 
	  	  </tabpanel>
	  	  </tabpanels>
	  	</tabbox>
	  	

	</vbox>            
  	 
  </tabpanel>
  
  
  <!--  *********************   DISPLAY ALIGNMENT TAB  *********************************************************************************** -->
           
  <tabpanel id="tabpanelAlignment"> 
    <iframe id= "iframeAlignment"  align="left" visible="true" style="width:95%;height:800px;border:0px inset;" src="/jsp/jsav.jsp" />
  </tabpanel>

            
  <!--  *********************   DISPLAY GENOME COMPARISON (VISTA) TAB  *********************************************************************************** -->
  <!-- tabpanel id="tabpanelVista"> 
  <iframe id= "iframeVista"  align="left" visible="true" style="width:95%;height:800px;border:0px inset;" />
  </tabpanel -->

  <tabpanel id="tabpanelVista"> 
  	 <vbox width="100%">
  	  <hbox height="15px"/>
	  <tabbox width="100%">   
	        <tabs>
	            <tab id="tabVista1" label="Nipponbarre vs IR64-21" selected="true"/>
	            <tab id="tabVista2" label="Nipponbarre vs 93-11"/>
	            <tab id="tabVista3" label="Nipponbarre vs DJ123"/>
	            <tab id="tabVista4" label="Nipponbarre vs Kasalath"/>
	        </tabs>  
	        <tabpanels>
	        <tabpanel>
	        	<iframe id="iframeVista1" align="left" visible="true" style="width:95%;height:800px;border:0px inset;" />
	        </tabpanel>
	        <tabpanel>
	        	<iframe id="iframeVista2" align="left" visible="true" style="width:95%;height:800px;border:0px inset;" />
	        </tabpanel>
	        <tabpanel>
	        	<iframe id="iframeVista3" align="left" visible="true" style="width:95%;height:800px;border:0px inset;" />
	        </tabpanel>
	        <tabpanel>
	        	<iframe id="iframeVista4" align="left" visible="true" style="width:95%;height:800px;border:0px inset;" />
	        </tabpanel>
	        
	        </tabpanels>
	  </tabbox>  
    </vbox>
  </tabpanel>

            
  <tabpanel id="tabpanelVistaRev"> 
  <iframe id= "iframeVistaRev"  align="left" visible="false" style="width:95%;height:800px;border:0px inset;" />
  </tabpanel>
            
  <tabpanel id="tabpanelVistaNPB"  visible="false">
  	 <vbox width="100%">
  	  <hbox height="15px"/>
	  <tabbox width="100%">   
	        <tabs>
	            <tab id="tabNPBvsIR6421" label="Nipponbarre vs IR64-21" selected="true"/>
	            <tab id="tabNPBvs9311" label="Nipponbarre vs 93-11"/>
	            <tab id="tabNPBvsDJ123" label="Nipponbarre vs DJ123"/>
	            <tab id="tabNPBvsKasalath" label="Nipponbarre vs Kasalath"/>
	        </tabs>  
	        <tabpanels>
	        <tabpanel>
	        	<iframe id="iframeNPBvsIR6421" align="left" visible="true" style="width:95%;height:800px;border:0px inset;" />
	        </tabpanel>
	        <tabpanel>
	        	<iframe id="iframeNPBvs9311" align="left" visible="true" style="width:95%;height:800px;border:0px inset;" />
	        </tabpanel>
	        <tabpanel>
	        	<iframe id="iframeNPBvsDJ123" align="left" visible="true" style="width:95%;height:800px;border:0px inset;" />
	        </tabpanel>
	        <tabpanel>
	        	<iframe id="iframeNPBvsKasalath" align="left" visible="true" style="width:95%;height:800px;border:0px inset;" />
	        </tabpanel>
	        
	        </tabpanels>
	  </tabbox>  
    </vbox>
  </tabpanel>
            
  
  
               
  <!--  *********************   DISPLAY PHYLOGENETIC TREE TAB  *********************************************************************************** -->
               
<tabpanel> 
	
	

<vbox>
	<hbox>
	    	<label pre="true" value="Phylotree topN  " style="font-weight:bold;"  visible="false"/>
	    	<listbox id="selectPhyloTopN" mold="select"  rows="1" tooltip="popupTopN" visible="false"> 
	    					<listitem label="20" />    
	    					<listitem label="50"/>    
	    					<listitem label="100"/>    
	  			<listitem label="200"/>    
	  			<listitem label="500" />
	  			<listitem label="all" selected="true"/>
	  		</listbox>
	  		
	    	<label pre="true" value="Minimum pair mismatch  " style="font-weight:bold;"  visible="false"/>
	    	<listbox id="selectPhyloMindist" mold="select"  rows="1" tooltip="popupMindist" visible="false"> 
	    					<listitem label="0" />    
	    					<listitem label="1" selected="true" />    
	    					<listitem label="2"/>
	    					<listitem label="3"/>    
	  						<listitem label="5"/>    
	  						<listitem label="10" />
	  		</listbox>
	  		<intbox id="intPhyloMindist" value="2" visible="false"/>
	  		<label value="Phylogenetic tree construction takes ~5 mins for all 3k varieties."/>
	  		<vbox width="10px"/>
	  		<button id="buttonRenderTree" label="Compute tree"/>
	  		<vbox width="10px"/>
	  		<button id="buttonDownloadNewick" label="Download Newick" visible="false"/>
	</hbox>
	<hbox height="10px"/>
	
	<script type="text/javascript">
	<![CDATA[
		function treeLoaded(obj) {
		//zAu.send(new zk.Event(zk.Widget.$(obj), "onTreeLoaded"));
		buttonDownloadNewick.setVisible(true);
	}
	]]>
	</script>

	<!-- zscript><![CDATA[
       String url  = (String)desktop.getExecution().getArg().get("href");
	   ]]>
	</zscript -->
	
	<!-- label value="The tree is constructed by Neighbor-Joining based on the number of allele mismatches between varieties within the region." style="font-family: arial;font-size:12px" / -->
	<iframe id="iframePhylotree" style="height:1200px;width:1500px" src="/jsp/phylotreeGermplasms.jsp?dataset=true"
		 xmlns:ca="http://www.zkoss.org/2005/zk/client/attribute" ca:onload="onTreeLoaded(this)">
	  		<attribute name="onTreeLoaded">
	  			
	  		</attribute>
	 </iframe> 
</vbox>
</tabpanel>


 <tabpanel>
		 
		  <!--  *********************   VARIETY QUERY MDS PLOT DISPLAY  *********************************************************************************** -->
		 
		 
		        <vbox>
			
			<hbox>
		        <label value = "Drag area to zoom."/>
			<vbox width="400px"/><label value="Highlight variety:  " pre="true" />
			<listbox id="listboxHighlightVariety"   mold="select" width="200px"/>
			<vbox width="50px"/><label value="list:  "  pre="true"/>
			<listbox id="listboxHighlightVarietyList" mold="select" width="150px"/><button id="buttonHighlight" label="Highlight variety" visible="false"/>



			</hbox>
<hbox>
<!-- label value="Size by phenotype value: " pre="true"/>
<listbox id="listboxMDSPhenotype"   mold="select" width="200px"/ -->
<label id="labelMDSPhenotype"/>

 <!-- zscript><![CDATA[			
		       listboxMDSPhenotype.setModel(new SimpleListModel(listPhenotype));
			listboxMDSPhenotype.setSelectedIndex(0);
		   ]]></zscript -->

</hbox>
		        <!--  charts id="chartMDS" type="scatter" zoomType="xy"
		        	title="Varieties MDS plot" width="800" height= "800"  / -->
		        	
		        <label value="Variety distance based on pairwise allele mismatch among queried variants."/>
		        <label value="MDS coordinates computed using MDSJ (http://algo.uni-konstanz.de/software/mdsj)" />
		        	
		        </vbox>
 </tabpanel>
 <!--  *********************   DISPLAY JBROWSE WITH PHYLOGENITIC CLUSTERING TAB  *********************************************************************************** -->

<tabpanel id="fourth"> 
 	<vbox>
	<label id="msgJbrowsePhylo"  visible="false" style="font-family: arial;font-size:12px" />
	<iframe id= "iframeJbrowsePhylo"  align="left" visible="false" style="width:1500px;height:3000px;border:0px inset;" src="${jbrowsestart}" />
	</vbox>
</tabpanel> 

 <tabpanel id="tabpanelGalaxy" class="z-genotype-tabpanel" > <!--    vflex="1" style="overflow:auto" -->  
	  <include id="includeGalaxy"/>
	  <!--  include id="includeGalaxy" -->
	  <!--  iframe id="iframeGalaxy" width="100%" height="2000px"/ -->	  
 </tabpanel>

                        
</tabpanels> 
</tabbox> 
</vbox>

</vbox>
        
        <!--  *********************   DISPLAY INITIALIZATIONS  *********************************************************************************** -->
        
                      
	
			    
		
			    

 <!--  *********************   POPUP DEFINITIONS *********************************************************************************** -->

<popup id="popupMatchOnly" width="300px">
        <html><![CDATA[
            For 2-variety comparison: display only allele mismatches<br/>
        	between the two queried varieties. <br/>
            For all varieties: display only varieties with at <br/>
            least one mismatch with the reference.
        ]]></html>
</popup>

<popup id="popupTopN" width="300px">
        <html><![CDATA[
            Use only the top N distances between variety pairs
            to construct the phylogenetic tree. Only varieties in these 
            pairs are included in the tree.
        ]]></html>
</popup>

<popup id="popupMindist" width="300px">
        <html><![CDATA[
            Minimum number of mismatches to branch in the tree.<br/>
            Below this number, the varieties are grouped<br/>
            into one node.
        ]]></html>
</popup>



<popup id="popupSNPColoringMismatch" width="300px">
        <html><![CDATA[
           Color the SNPs based on mismatch with the reference.
        ]]></html>
</popup>
        
<popup id="popupMyList" width="300px">
        <html><![CDATA[
           Search only on varieties in your selected list.<br />
           The list can be created from <b>My Lists</b> in the menu 
           or from the result of <b>Search > Varieties</b> . 
        ]]></html>
</popup>        
        
<popup id="popupMySNPList" width="300px">
        <html><![CDATA[
           Get only alleles from positions in the list.<br />
           The list can be created in <b>My List</b> in the menu.
        ]]></html>
</popup>        

<popup id="popupMyLocusList" width="300px">
        <html><![CDATA[
           Get only alleles within the loci in the list.<br />
           The list can be created from <b>My Lists</b> in the menu
           or from the result of <b>Search > Gene loci</b>.
        ]]></html>
</popup>        




<popup id="popupSNPColoringAllele" width="300px">
        <html><![CDATA[
           Color the SNPs based on allele value.
        ]]></html>
</popup>


<popup id="popupCoreSNP" width="300px">
        <html><![CDATA[
           Use only the core SNPs
        ]]></html>
</popup>

<popup id="popupExactMismatch" width="300px">
        <html><![CDATA[
           Recount mismatch in queried region only.
        ]]></html>
</popup>

<popup id="popupAddFilter" width="300px">
        <html><![CDATA[
          Add another allele filter.
        ]]></html>
</popup>
<popup id="popupSynonymousShow" width="300px">
        <html><![CDATA[
          Include synonymous SNPs.
        ]]></html>
</popup>
<popup id="popupSynonymousGray" width="300px">
        <html><![CDATA[
		  Color synonymous SNPs in gray.
        ]]></html>
</popup>
<popup id="popupSynonymousExclude" width="300px">
        <html><![CDATA[
		  Exclude non-synonymous SNPs and varieties with no non-synonymous SNPs in the queried regions.
        ]]></html>
</popup>
<popup id="popupSNP" width="300px">
        <html><![CDATA[
		  Query SNPs.
        ]]></html>
</popup>

<popup id="popupSplice" width="300px">
        <html><![CDATA[
		  Highlight splice variant SNPs.
        ]]></html>
</popup>


<popup id="popupAlignIndels" width="300px">
        <html><![CDATA[
		  Show indels as sequence alignments.
        ]]></html>
</popup>

<popup id="popupIndel" width="300px">
        <html><![CDATA[
		  Include indels. Disabled for SNP and locus lists
        ]]></html>
</popup>


<popup id="popupDownloadPlink" width="300px">
        <html><![CDATA[
		  Download Plink format. Disabled for Indels.
        ]]></html>
</popup>

<popup id="popupDownloadFlapjack" width="300px">
        <html><![CDATA[
		  Download Flapjack format. Disabled for Indels.
        ]]></html>
</popup>

<popup id="popupAllSnps" width="300px">
        <html><![CDATA[
		  Show all SNPs.
        ]]></html>
</popup>
<popup id="popupNonsynSnps" width="300px">
        <html><![CDATA[
		  Show non-synonymous SNPs only.
        ]]></html>
</popup>
<popup id="popupNonsynSnpsPlusSplice" width="300px">
        <html><![CDATA[
		  Show non-synonymous and splice site SNPs.
        ]]></html>
</popup>
<popup id="popupAllNonsynHighlights" width="300px">
        <html><![CDATA[
		Show all SNPs, highlight the non-synonymous.
        ]]></html>
</popup>
<popup id="popupSpliceVariant" width="300px">
        <html><![CDATA[
		  Include SNPs in splice donor and acceptor sites in non-synonymous.
        ]]></html>
</popup>

<popup id="popupSearch" width="300px">
        <html><![CDATA[
		  Displays the variant table.
        ]]></html>
</popup>

<popup id="popupHeteroIndels" width="300px">
        <html><![CDATA[
		  If checked, will consider heterozygous indels. Otherwise will use only allele1 only.
        ]]></html>
</popup>



<popup id="popupDownloadFasta" width="300px">
        <html><![CDATA[
			Downloads the Fasta file of alternate sequence without displaying the table.
        ]]></html>
</popup>



<popup id="popupReference" width="300px">
        <html><![CDATA[
			Select the reference genome to use. If not Nipponbare, will disable 
			several options (indels, core snps, non-synonymous, snp/locus lists).
        ]]></html>
</popup>


<popup id="popupShowallrefalleles" width="300px">
        <html><![CDATA[
			Show alleles from the other 4 reference genomes which aligned 
			with the queried reference region. Will disable indels.
        ]]></html>
</popup>

<popup id="popupAlleleFilter" width="300px">
        <html><![CDATA[
			Match the genotype (SNP list with alleles) to all varieties in the dataset.
        ]]></html>
</popup>

<popup id="popupVarietyAlleleFilter" width="300px">
        <html><![CDATA[
			Match the selected variety with the other varieties in the dataset.
        ]]></html>
</popup>


<popup id="popupMissingAllele" width="300px">
        <html><![CDATA[
			How missing alleles in the varieties are counted in genotype comparison.
        ]]></html>
</popup>

<popup id="popupSNPSet" width="300px">
        <html><![CDATA[
			Snp set to query. (All-32M multiallelic, the default in previous SNP-seek version;
				  Base-18M biallelic and heterozygosity within HW expectation;
				  Filtered-4.8M alt allele frquency at least 0.01;
				  Core-404k LD pruned). Detailed desription in Download section.
        ]]></html>
</popup>
<popup id="genotype_info" width="600px">
        <html><![CDATA[
			We currently disable the reference genome selection because we realized that we are inadvertently imposing a pan-genome for rice. The SNPs in other reference genomes were determined using the best aligned regions  from the pair-wise comparison between the five reference genome, and we progressively identified genome regions unique to each of each reference genomes in an arbitrary manner (Nipponbare -> 9311 -> ir64 -> dj123 -> kasalath), which may result in ambiguous SNP locations between reference genomes. Although we selected the best alignment (by length and % identity), these are local and not guaranteed correct because aligned regions are not unique nor symmetric, and other considerations (biological or computational), or global optimization may be necessary to assign the best genome-wide alignments. To improve this, we are currently working to display the matrix of samples X SNPs/indels as identified for each reference genome, which we will soon publish in SNP-Seek. Our next big project would to be to do the comparative genomics for all the currently published high quality rice genomes,which allows you to unambiguously map SNPs in each genome.
			<br>
			<br>
			<p>If this data is necessary and urgently needed for your work now, we recommend you use the VCF files of the SNPs/indels identified for the other reference genomes at our S3 site (pls see <a href="http://iric.irri.org/resources/3000-genomes-project">iric.irri.org/resources/3000-genomes-project</a> for details) and use external tools to extract regions of the VCF files. In the Rice Galaxy resource at <a href="http://galaxy.irri.org/">galaxy.irri.org</a>, this can be done using <Get Data> --> <Get Subset of 3K VCF from Amazon S3 data repository>, one VCF at a time.</p>
        ]]></html>
</popup>





	<div id="tip" class="tooltip" visible="false" width="280px">
		<div class="tooltip-anchor">
			<div class="tooltip-anchor-inner"></div>
		</div>
		<div class="tooltip-content">
			<hlayout valign="bottom">
				<label value="Edit Data:" style="font-size: 14px" />
				<textbox id="content" />
				<button id="update" label="Update" mold="trendy" style="text-shadow: none;" />
			</hlayout>
		</div>
	</div>


</window>


</zk>