<?link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" ?>
<?link rel="icon" href="/favicon.ico" type="image/x-icon" ?>

<?script type="text/javascript"><![CDATA[
window.Boot_progressbox = function (){}
]]>?>

<?component name="newProduct" macroURI="includedMacro.zul"?>

<zk xmlns:h="native">

	<zscript>
        import org.irri.iric.portal.AppContext;      
        String paramstr=AppContext.getJBrowseDefaulttracks(AppContext.getDefaultDataset());
        //DNA,msu7gff,snp3k
</zscript>      

<div align="center">

<vbox align="center" pack="center" height="100%" style="background-color:white">

<panel height="50px"  border="none"/>
 


<hbox>
<vbox width="200px"/>
<h:p style="font-family:sans-serif;font-size:13px" align="left" width="800px">
<!-- 
<h:div id="warningDiv" style="background-color:rgb(255, 246, 168);padding:10px"> 
<h:img src="images/icons/warning.png" height="25" width="25"/> We are migrating datasets to a new Amazon S3 bucket. The bam / vcf download and jbrowse features are affected and you may experience intermittent failures. We are still in process of troubleshooting to solve these issues.
An alternative download site for bam and vcf files is available, kindly visit the 3K RG site, <h:a target="_blank" href="http://iric.irri.org/resources/3000-genomes-project">http://iric.irri.org/resources/3000-genomes-project</h:a> for more info.

</h:div>
 -->
<h:br/>
<h:br/>

This site provides Genotype, Phenotype, and Variety Information for rice (Oryza sativa L.). SNP genotyping data (called against <!-- five reference genomes -->
 <h:a target="_blank" href="http://rice.plantbiology.msu.edu/annotation_pseudo_current.shtml">Nipponbare reference Os-Nipponbare-Reference-IRGSP-1.0</h:a><!-- , 93-11, IR 64, Kasalath and DJ123  -->) came from <h:a target="_blank" href="http://iric.irri.org/resources/3000-genomes-project"> 3,000 Rice Genomes Project </h:a>. 
Phenotype and passport data for the 3,000 rice varieties came from the International Rice Genebank Collection Information System  (<h:a target="_blank" href="http://irgcis.irri.org:81/grc/irgcishome.html">IRGCIS</h:a>).
We are a part of an ongoing effort by the International Rice Informatics Consortium (<h:a target="_blank" href="http://iric.irri.org">IRIC</h:a>) to centralize information access to rice research data and provide computational tools to facilitate rice improvement via discovery of new gene-trait associations and accelerated breeding.
 
 
<!-- h:p align="center" style="font-family:sans-serif;font-size:13px">
To cite this resource: <h:a target="_blank" href="http://nar.oxfordjournals.org/content/43/D1/D1023.full">Alexandrov, et al. SNP-Seek database of SNPs derived from 3000 rice genomes. Nucl. Acids Res. 2015;43(D1):D1023-D1027</h:a>
</h:p -->


</h:p>
 
<vbox width="200px"/>
</hbox>

  
 <panel height="20px"  border="none"/>


         	<hbox>
				<newProduct title="GENOTYPE" img="/images/iric/genotypes.png" desc="Genotypes"
					details="Query for SNPs from the 3000 genome project" href="_snp.zul"/>
				<panel width="20px"  border="none"/>

				<newProduct title="VARIETY" img="/images/iric/varieties.png" desc="Varieties"
					details="Query for Variety passport and phenotypes" href="_variety.zul"/>
				<panel width="20px"  border="none"/>

				<newProduct title="JBROWSE" img="/images/iric/jbrowse.png" desc="JBrowse"
					details="Rice Genome Browser" href="_jbrowse.zul?tracks=${paramstr}"/>
				<panel width="20px"  border="none"/>

<div id="divGwas" visible="false">
				<newProduct title="GWAS" img="/images/iric/gwas.png" desc="GWAS"
					details="GWAS Results and tools" href="_gwas.zul"/>
				<panel width="20px"  border="none"/>
</div>
				<newProduct title="HELP" img="/images/iric/help.png" desc="Help"
					details="Help and documentation" href="_help.zul"/>
			 </hbox>



			<!--  v1 icons  -->
         	<!--  hbox>
				<newProduct title="GENOTYPE" img="/images/iric/gfh.png" desc="Genotypes"
					details="Query for SNPs from the 3000 genome project" href="_snp.zul"/>
				<panel width="20px"  border="none"/>

				<newProduct title="VARIETY" img="/images/iric/variety5.png" desc="Varieties"
					details="Query for Variety passport and phenotypes" href="_variety.zul"/>
				<panel width="20px"  border="none"/>

				<newProduct title="JBROWSE" img="/images/iric/jbrowse5.png" desc="JBrowse"
					details="Rice Genome Browser" href="_jbrowse.zul?tracks=${paramstr}"/>
				<panel width="20px"  border="none"/>

				<newProduct title="HELP" img="/images/iric/help5.png" desc="Help"
					details="Help and documentation" href="_help.zul"/>
			 </hbox -->
			 



<hbox>
<vbox width="200px"/>
<h:p style="font-family:sans-serif;font-size:13px" align="left" width="800px">
<h:b>
<h:h4 style="color:darkgreen">How to cite:</h:h4>
</h:b>
- Mansueto, et al. <h:b>Rice SNP-seek database update: new SNPs,
						indels, and queries</h:b>.<h:i>Nucl. Acids Res.</h:i>(2017) 45 (D1):
					D1075-D1081.  doi: <h:a target="_pub"
					href="http://nar.oxfordjournals.org/content/early/2016/11/29/nar.gkw1135.abstract">10.1093/nar/gkw1135</h:a>
					This paper describes new features and datasets added to SNP-Seek in
					2015-2017 as well as software and database updates.
<h:h5 style="color:darkgreen"><h:b><h:a target="_pub"
					href="https://snp-seek.irri.org/_about.zul">- Other publications >> </h:a></h:b></h:h5>
</h:p>
<vbox width="200px"/>
</hbox>

</vbox>
</div>	

<zscript>
	divGwas.setVisible(false); 
</zscript>
</zk>