<?page title="Locus Query" contentType="text/html;charset=UTF-8"?>
<?component name="tipBox" macroURI="tipBox.zul"?>

<zk xmlns:h="native">


<!--  *********************   INITIALIZE DISPLAY VARIABLES  *********************************************************************************** -->



<window id="winLocus" border="none" apply="org.irri.iric.portal.genomics.zkui.LocusQueryController">

<hbox height="260px" >
<grid id="gridQuery" width="100%" height="300px">

<rows>
    <row spans="4">
	<textbox id="msgbox" readonly="true" value="${msg}" width="100%"/>
	</row>


<!--  *********************   GENE LOCI QUERY OPTIONS  *********************************************************************************** -->
      
<row spans="4" >
<hbox>
<label value="Reference genome:" style="font-size:14px;font-weight:bold;color:gray;"/>
<vbox width="10px"/>
<listbox id="listboxOrganism" class="reference-genome" mold="select" disabled="false"/>

<zscript>
	boolean isAnnotationVisible = org.irri.iric.portal.AppContext.showItem(org.irri.iric.portal.WebserverPropertyConstants.SEARCH_LOCI_BY_ANNOTATION);
	boolean isGoTermVisible = org.irri.iric.portal.AppContext.showItem(org.irri.iric.portal.WebserverPropertyConstants.SEARCH_LOCI_BY_GO_TERM);
	boolean isTraitVisible = org.irri.iric.portal.AppContext.showItem(org.irri.iric.portal.WebserverPropertyConstants.SEARCH_LOCI_BY_TRAIT);
	boolean isRegionVisible = org.irri.iric.portal.AppContext.showItem(org.irri.iric.portal.WebserverPropertyConstants.SEARCH_LOCI_BY_REGION);
	boolean isSequenceVisible = org.irri.iric.portal.AppContext.showItem(org.irri.iric.portal.WebserverPropertyConstants.SEARCH_LOCI_BY_SEQUENCE);
	boolean isSnpListVisible = org.irri.iric.portal.AppContext.showItem(org.irri.iric.portal.WebserverPropertyConstants.SEARCH_LOCI_BY_SNPLIST);
	boolean isGeneListVisible = org.irri.iric.portal.AppContext.showItem(org.irri.iric.portal.WebserverPropertyConstants.SEARCH_LOCI_BY_GENELIST);
	
	String visibleAnnotationStr = String.valueOf(isAnnotationVisible);
	String visibleGoTermStr = String.valueOf(isGoTermVisible);
	String visibleTraitStr = String.valueOf(isTraitVisible);
	String visibleRegionStr = String.valueOf(isRegionVisible);
	String visibleSequenceStr = String.valueOf(isSequenceVisible);
	String visibleSnpListStr = String.valueOf(isSnpListVisible);
	String visibleGeneListStr = String.valueOf(isGeneListVisible);
</zscript>  

<vbox width="30px"/>			    
<label value="Search by:" style="font-size:14px;font-weight:bold;color:gray;"/>
<vbox width="10px"/>
<listbox id="listboxSearchby" class="search-by"  mold="select">
<listitem  label="Annotation (by source)" visible="${visibleAnnotationStr}"/>
<listitem selected="true" label="Gene name/symbol/function"/>
<listitem  label="Gene Ontology term" visible="${visibleGoTermStr}"/>
<!--  listitem  label="Plant and Trait Ontology term"/ -->
<listitem  label="Trait" visible="${visibleTraitStr}"/>
<listitem  label="Region" visible="${visibleRegionStr}"/>
<listitem  id="listitemSequence" label="Sequence" visible="${visibleSequenceStr}"/>
<listitem  label="SNP Annotator (My SNP List)" visible="${visibleSnpListStr}"/>
<listitem  label="Gene set/networks" visible="${visibleGeneListStr}"/>
</listbox>

<div id="divGeneModel">
<hbox>
<vbox width="30px"/>			    
<label value="Gene model:" style="font-size:14px;font-weight:bold;color:gray;"/>
<vbox width="10px"/>
<listbox id="listboxAnnotation" class="gene-model" mold="select">
<!-- listitem  value="msu7only" label="MSU7" selected="true"/>
<listitem  value="raponly" label="RAP"/>
<listitem  value="iric" label="Merged MSU7,RAP,FGenesh (by IRIC)"/ -->
<listitem  value="all" label="All" selected="true" />
</listbox>
</hbox>
</div>
</hbox>
</row>


<row spans="4">
<label value=" "/>
</row>
   
<!--  *********************   QUERY BY GENE FUNCTION  *********************************************************************************** -->   
<row spans="4" id="rowGeneFunction" visible="false">

<!--  label value="Gene function" style="font-size:14px;font-weight:bold;color:gray;"/ -->
<hbox>
<vbox width="50px"/>
<textbox id="textboxGenefunction" class="input1-keyword" width="300px" />
<vbox width="50px"/>
<listbox id="listboxGenefunctionMatch" mold="select" class="gene-function-select" width="150px">
<listitem label="whole word only" selected="true"/>
<listitem label="substring"/>
<listitem label="exact match"/>
<listitem label="regular expression"/>
</listbox>
<vbox width="10px"/>
<button id="searchGenefunctionButton" label="Search by annotation"   style="font-size:14px;font-weight:bold;color:gray;"
  width="200px" height="30px"  autodisable="self"
  />
</hbox>
</row>

<!--  *********************   QUERY BY GENE NAME/SYMBOLS  *********************************************************************************** -->   
<row spans="4" id="rowGeneName" visible="true">

<hbox>
<vbox width="50px"/>
<textbox id="textboxGenename" class="input2-keyword" width="300px" />
<vbox width="50px"/>
<listbox id="listboxGenenameMatch" class="gene-name-select" mold="select" width="150px">
<listitem label="whole word only" selected="true"/>
<listitem label="substring"/>
<listitem label="exact match"/>
<listitem label="regular expression"/>
</listbox>
<vbox width="10px"/>
<button id="searchGenenameButton" class="search-button" label="Search by name/symbol/function"   style="font-size:14px;font-weight:bold;color:gray;"
  width="300px" height="30px"  autodisable="self"
  />
  
</hbox>
</row>



<!--  *********************   QUERY BY GENE ONTOLOGY TERM  *********************************************************************************** -->
<row spans="4" id="rowGoTerm" visible="false">
<!--  label value="GO term" style="font-size:14px;font-weight:bold;color:gray;"/ -->
<hbox>
<vbox>
<listbox id="listboxCV" mold="select">
<listitem value="biological_process" selected="true" label="GO Biological process"/>
<listitem value="cellular_component" label="GO Cellular component"/>
<listitem value="molecular_function" label="GO Molecular function"/>
</listbox>
<listbox id="listboxGOTerm" mold="select" width="100%"/>
			    
<hbox>
<vbox>
<label id="labelGOAncestors" value=""/>
<listbox id="listboxGOAncestors" width="300px" height="100px"/>
</vbox>
<vbox width="50px"/>
<vbox>
<label id="labelGODescendants" value=""/>
<listbox id="listboxGODescendants" width="300px" height="100px"/>
</vbox>
</hbox>			    
</vbox>
<vbox width="20px"/>		
<checkbox id="checkboxIncludeDescendants" label="" visible="false"/>
<label value="Include descendants" tooltip="popupDescendants"  visible="false"/>
<vbox width="20px"/>

 <button id="searchGOButton" label="Search by GO term"   style="font-size:14px;font-weight:bold;color:gray;"
  width="150px" height="30px"  autodisable="self"/>
  <hbox height="15px"/>
</hbox>
</row>

<!--  *********************   QUERY BY TRAITS, TO, PO  *********************************************************************************** -->

<row spans="4" id="rowPatoTerm" visible="false">
<!--  label value="GO term" style="font-size:14px;font-weight:bold;color:gray;"/ -->
<hbox>
<vbox>
<listbox id="listboxCVPato" mold="select">
<!--  listitem value="plant_anatomy" label="PO Plant Anatomy"/>
<listitem value="plant_trait_ontology" selected="true" label="TO Trait Ontology"/>
<listitem value="rice_trait" label="Crop Ontology (Rice trait)"/>
<listitem value="quality" label="PATO Quality Ontology"/ -->
<listitem value="qtaro_gene_traits" label="Q-TARO Traits"/>
<listitem value="plant_trait_ontology" label="TO Plant Trait Ontology (from Oryzabase)"/>
<listitem value="plant_anatomy" label="PO Plant Anatomy (from Oryzabase)"/>
<listitem value="plant_structure_development_stage" label="PO Development Stage (from Oryzabase)"/>
</listbox>
<listbox id="listboxPatoTerm" mold="select" width="100%"/>
			    
<hbox>
<vbox>
<label id="labelPatoAncestors" value=""/>
<listbox id="listboxPatoAncestors" width="300px" height="100px"/>
</vbox>
<vbox width="50px"/>
<vbox>
<label id="labelPatoDescendants" value=""/>
<listbox id="listboxPatoDescendants" width="300px" height="100px"/>
</vbox>
</hbox>			    
</vbox>
<vbox width="20px"/>		

 <button id="searchPatoButton" label="Search Plant/Trait term"   style="font-size:14px;font-weight:bold;color:gray;"
  width="150px" height="30px"  autodisable="self"/>
  <hbox height="15px"/>
</hbox>
</row>
 
 
 <!--  *********************   QUERY BY REGION  *********************************************************************************** -->
 
<row spans="4" id="rowRegion" visible="false">
<!-- label value="Region" style="font-size:14px;font-weight:bold;color:gray;"/ -->
<hbox>
<label value="Contig " pre="true"/>
<custom-attributes org.zkoss.zul.listbox.rod="true"/>
<!--  listbox id="listboxContig" mold="select"/ -->
<combobox id="listboxContig"  buttonVisible="false"  readonly="false" autodrop="true"/> 
<label id="labelChrExample" pre="true" value="(ex. chr01)" style="font-size:10px"/> 
<label value="     Start " pre="true"/>
<intbox id="intboxContigStart"/>
<label value="     End " pre="true"/>
<intbox id="intboxContigEnd"/>
<vbox width="20px"/>
<button id="searchRegionButton" label="Search by region"   style="font-size:14px;font-weight:bold;color:gray;"
  width="150px" height="30px"  autodisable="self"
  />

 </hbox>
</row>

<!--  *********************   QUERY FROM SNP LIST  *********************************************************************************** -->

<row spans="4" id="rowMySnpList" visible="false">
<vbox>
<hbox>
<label value="My SNP List" pre="true"/>
<listbox id="listboxMySNPList" mold="select" />

<vbox width="20px"/>
<label value="+/-" />
<intbox id="intboxPlusMinusBP" value="0" width="80px"/>
<label value="basepairs" />
<vbox width="20px"/>
<button id="searchMySnpListButton" label="Search SNP List"   style="font-size:14px;font-weight:bold;color:gray;"
  width="150px" height="30px"  autodisable="self"
  />
</hbox>
<hbox height="20px"/>
<div id="divAdvancedOptions" visible="false">
<hbox>
<label value="Maximum interacting loci   " pre="true"/>
<textbox id="textboxMaxInteracting" value=""/>
</hbox>
</div>
<hbox>
<checkbox id="checkboxIncludeInteractions" label="Include gene interactions (RiceNetv2, PRIN) (slow)"/>
<checkbox id="checkboxIncludePromoters" label="FGenesh++, PlantPromDB"/>
<checkbox id="checkboxIncludeGO" label="Gene Ontology"/>
<checkbox id="checkboxIncludePOTO" label="PO, TO, Q-TARO"/>
<checkbox id="checkboxIncludeQTL" label="Q-TARO QTLs"/>
</hbox>


</vbox>

</row>


<!--  *********************   QUERY FROM GENE ENRICHMENT/SET ANALYSIS  *********************************************************************************** -->

<row spans="4" id="rowGeneset" visible="false">
<vbox>
<hbox>
<label value="My Locus List " pre="true"/>
<listbox id="listboxMyLocusListGeneset" mold="select" />

<vbox width="20px"/>
<vbox>
<hbox><label value="Ricenetv2 direct neighbors  " pre="true"/><checkbox id="checkboxRicenetv2direct"/><button label="GO" disabled="true" id="buttonRicenetv2direct" target="_ricenetnga"/></hbox>
<hbox><label value="Ricenetv2 context hubs  " pre="true"/><checkbox id="checkboxRicenetv2context"/><button label="GO" disabled="true" id="buttonRicenetv2context"  target="_ricenetcontext"/></hbox>
<hbox><label value="String-DB prot-prot interaction  " pre="true"/><checkbox id="checkboxStringDB"/><button label="GO" disabled="true" id="buttonStringDB"  target="_stringdb"/></hbox>
<hbox><label value="CARMO functional Annotation  " pre="true"/><checkbox id="checkboxCarmoFunctional"/><button label="GO" disabled="true" id="buttonCarmoFunctional"  target="_carmofunctional"/></hbox>
<hbox><label value="Plant GSEA  " pre="true"/><checkbox id="checkboxPlantGSEA"/><button label="GO" disabled="true" id="buttonPlantGSEA"  target="_plantgsea"/></hbox>
<hbox><label value="AgriGO  " pre="true"/><checkbox id="checkboxAgriGO"/><button label="GO" disabled="true" id="buttonAgriGO"  target="_agrigo"/></hbox>
<hbox><label value="IC4R Expression (RAP loci only)  " pre="true"/><checkbox id="checkboxIC4RExpr"/><button label="GO" disabled="true" id="buttonIC4RExpr"  target="_ic4rexpr"/></hbox>
<hbox><label value="IC4R Coexpression  (RAP loci only)" pre="true"/><checkbox id="checkboxIC4RCoexpr"/><button label="GO" disabled="true" id="buttonIC4RCoexpr"  target="_ic4rcoexpr"/></hbox>
</vbox>


<vbox width="20px">
<button id="buttonMyLocusList" label="Gene set/enrichment"   style="font-size:14px;font-weight:bold;color:gray;"
  width="250px" height="30px"  autodisable="self"
  />
  <checkbox id="checkboxQueryinbackground" label="  Submit in background   " checked="true"/>
  <textbox id="textboxMsgWebclient" readonly="true" value="" width="250px" rows="4"/>
  </vbox>
</hbox>
<hbox height="20px"/>
<timer id="timerCheckUrls" delay="5000" repeats="true"/>


</vbox>

</row>



<!--  *********************   QUERY BY SEQUENCE (BLAST) *********************************************************************************** -->
<row spans="4" id="rowSequence" visible="false">
<!--  label value="Sequence" style="font-size:14px;font-weight:bold;color:gray;"/ -->
<hbox>
<vbox>
<textbox id="textboxSequence" class="blast-input-field" rows="7" cols="80"/>
<hbox><button id="buttonUploadSequence" upload="true,-1" autodisable="self" label="Upload FASTA"/>
<label id="labelUploadSequence"/>
</hbox>
<label id="labelBlastType" value="Search rice genome using a nucleotide query"/>
<hbox>
<label value="Query type " pre="true"/>
<listbox id="listboxBlastType" class="blast-dropdown" mold="select">
<listitem label="" selected="true"/>
<listitem label="blastn"/>
<listitem label="blastp" />
<listitem label="blastx" />
<listitem label="tblastn"/>
<listitem label="tblastx"/>
</listbox>
<vbox width="20px"/>

<label value="Database type " pre="true"/>
<listbox id="listboxBlastDBType" class="database-type-select" mold="select">
<listitem label="" selected="true"/>
<listitem label="dna"/>
<listitem label="cds"/>
<listitem label="cdna" />
<listitem label="upstream3000" />
</listbox>
<vbox width="20px"/>
<label value="Max Evalue" pre="true"/>
<textbox id="textboxEvalue" value="10" width="50px"  class="z-max-evalue"/>
</hbox>
<hbox>
<label value="Top hit per query sequence only  " pre="true"/>
<checkbox id="checkboxTopSequencehit" checked="false"/>
<div id="divIncludeSequence" visible="false">
<label value="     Include aligned sequence  " pre="true"/>
<checkbox id="checkboxIncludeSequence" checked="false"/>
 </div>
</hbox>
 
</vbox>
<vbox width="20px"/>
<button id="searchByBlast" label="BLAST sequence" class="blast-sequence-button" style="font-size:14px;font-weight:bold;color:gray;"
  width="150px" height="30px"  autodisable="self"
  />
 </hbox>
 
</row>



<row spans="1,2,1" visible="false">
<label value="Analyze locus list" style="font-size:14px;font-weight:bold;color:gray;"/>
<vbox>
<hbox>
<label value="My locus list  " pre="true"/>
<listbox id="listboxMyLocusList2" mold="select"/>

</hbox>
<hbox>
<label value="PANTHER  " pre="true"/>
<radiogroup id="radiogroupenrichment"/>
<radio id="radioFunction" label="Function" radiogroup="radiogroupenrichment" selected="true"/><vbox width="10px"/>
<radio id="radioProcess" label="Process" radiogroup="radiogroupenrichment" /><vbox width="10px"/>
<radio id="radioLocation" label="Cell location" radiogroup="radiogroupenrichment" /><vbox width="10px"/>
<radio id="radioProtein" label="Protein class" radiogroup="radiogroupenrichment" /><vbox width="10px"/>
<radio id="radioPathway" label="Pathway" radiogroup="radiogroupenrichment" />
</hbox>
</vbox>




 <button id="searchEnrichment" label="Enrich Gene List"   style="font-size:14px;font-weight:bold;color:gray;"
  width="150px" height="30px"  autodisable="self"
  />

</row>

<row spans="4" id="rowCountGOTermLoci" visible="false">
	
<hbox>
<label value="My locus list  " pre="true"/>
<listbox id="listboxMyLocusListOntology" mold="select"/>


<vbox width="30px"/>
  <button id="buttonCountGOTermLoci" label="Count Loci for GO Terms"   style="font-size:14px;font-weight:bold;color:gray;"
  width="200px" height="30px"  autodisable="self" />
  </hbox>
</row>


<!--  row spans="1,2" visible="false">
<label value=""/>
			<hbox >
  		    <button id="searchButton" label="SEARCH"   style="font-size:16px;font-weight:bold;color:gray;"
			    	   width="100px" height="50px"  autodisable="self"
			    	   xmlns:w="http://www.zkoss.org/2005/zk/client"			    	   			    	   
			    	   w:onClick="var t = zk.Widget.$('$msgbox');t.$n().value=(' ');t.updateChange_();"
			    	   />
			    	   <vbox width="10px"/>	
    		    <button id="resetButton" label="Reset"   style="font-size:14px;font-weight:bold;color:gray;"
			    	   width="75px" height="30px"  autodisable="self"
			    	   />
			</hbox>    	   	
</row -->
			    	   
</rows>
</grid>

<tipBox height="210px" width="400px" desc="    LOCUS QUERY"
		details1= "  Select reference genome" 
		details2= "  Select search criterion:"
		details3= "     a. gene function"
		details4= "     b. gene name/symbols"
		details5= "     c. GO term"
		details6= "     d. contig and region" 
		details7= "     e. sequence" 
		details8= "     f. SNP positions list"
		details9= "     g. Gene set"
		details10= "  Click the Search Button "
		details11= ""
		details12= "  Result Table: List of matching loci"
		/>
</hbox>

<separator bar="true" visible="false" id="separator" width="100%"/>
<vbox pack="start" width="100%">

<vbox>
<grid id="gridLocusInfo" visible="true"  width="100%">
	        	<!-- columns>
                <column label="" width="200px"/>
                <column label="" width="600px"/>
            	</columns -->
		<rows>
		<row spans="4"/>
		<row spans="1,3"><label value="Locus name"/><textbox id="textboxLocusname" readonly="true"  width="500px"/></row>
		<row spans="1,3"><label value="Position"/><textbox id="textboxPosition" readonly="true"  width="500px"/></row>
		<row spans="1,3"><label value="Function (source annotation)"/><textbox id="textboxFunction" readonly="true" width="500px"/></row>
		<row spans="1,3"><label value="External links"/>
			
		<hbox>
		<a id="aMSU7" target="_xlocus" href="localhost" label="MSU7  " visible="false" style="font-size:12px;font-weight:bold"/><vbox width="15px"/>
		<a id="aRAP" target="_xlocus" href="localhost" label="RAP  " visible="false" style="font-size:12px;font-weight:bold"/><vbox width="15px"/>
		<a id="aPhytozome" target="_xlocus" href="localhost" label="Phytozome  "  visible="false" style="font-size:12px;font-weight:bold"/><vbox width="15px"/>
		<a id="aOryzabase" target="_xlocus" href="localhost" label="Oryzabase  "  visible="false" style="font-size:12px;font-weight:bold"/><vbox width="15px"/>
		<a id="aGramene" target="_xlocus" href="localhost" label="Gramene  "  visible="false" style="font-size:12px;font-weight:bold"/><vbox width="15px"/>
		<a id="aKegg" target="_xlocus" href="localhost" label="KEGG  "  visible="false" style="font-size:12px;font-weight:bold"/><vbox width="15px"/>
		
		<a id="aUniprot" target="_xlocus" href="localhost" label="Uniprot  "  visible="false" style="font-size:12px;font-weight:bold"/><vbox width="15px"/>
		<a id="aNCBI" target="_xlocus" href="localhost" label="NCBI  "  visible="false" style="font-size:12px;font-weight:bold"/><vbox width="15px"/>
		<a id="aIC4RLit" target="_xlocus" href="localhost" label="IC4R Lit  "  visible="false" style="font-size:12px;font-weight:bold"/>
		
		</hbox>
		</row>
		<row  spans="1,3"><label value="Overlapping genes"/><listbox id="listboxOverlappinggenes" width="500px"/></row>
		</rows>
</grid>

<iframe id= "iframeJbrowse"  align="left" visible="true" style="width:95%;height:600px;border:0px inset;" src="${jbrowsestart}" />
</vbox>

<splitter id="splitter" collapse="before" open="false" width="100%" />

<vbox width="100%">

<hbox height="20px"/>
<hbox>
<hbox id="hboxDownload" visible="false">
 <label value="    Download:  " pre="true"/>
 <button id="buttonDownloadCSV" label="CSV"/>
 <hbox width="5px"/>
 <button id="buttonDownloadTab" label="Tab"/>
 <hbox width="25px"/>
</hbox>

<hbox id="hboxAddtolist" visible="false">
  <vbox width="20px"/>
  <button id="buttonAddToList" label="Create Gene List:"  autodisable="self" tooltip="popupCreateList"/>
  <label value="   List Name  " pre="true"/>
  <textbox id="txtboxListname" width="200px"/>
</hbox>


</hbox>

<hbox id="hboxGenesetAnalysis" visible="false">
<label value="Gene set analysis:"/>
<vbox width="20px"/>
<button id="buttonRicenetV1" label="RiceNet V1 Interactions"/>
<vbox width="20px"/>
<button id="buttonRicenetV2DirectNeighbors" label="RiceNet V2 Direct Neighborhood"/>
<vbox width="20px"/>
<button id="buttonRicenetV2ContextHubs" label="RiceNet V2 Context Associated Hubs"/>
<vbox width="20px"/>
<button id="buttonPantherOverrep" label="Panther Overrepresentation Test"/>
</hbox>
 
 
 
 <!--  *********************   GENE LOCUS QUERY RESULTS DISPLAY  *********************************************************************************** -->
<zscript>
		import org.irri.iric.portal.genomics.zkui.LocusListItemComparator;
       Comparator lasc0 = new LocusListItemComparator(true,0,0);        
       Comparator ldsc0 = new LocusListItemComparator(false,0,0);
       Comparator lasc1 = new LocusListItemComparator(true,1,0);        
       Comparator ldsc1 = new LocusListItemComparator(false,1,0);
       Comparator lasc2 = new LocusListItemComparator(true,2,1);        
       Comparator ldsc2 = new LocusListItemComparator(false,2,1);
       Comparator lasc3 = new LocusListItemComparator(true,3,1);        
       Comparator ldsc3 = new LocusListItemComparator(false,3,1);
       Comparator lasc4 = new LocusListItemComparator(true,4,1);        
       Comparator ldsc4 = new LocusListItemComparator(false,4,1);
       Comparator lasc6 = new LocusListItemComparator(true,6,0);        
       Comparator ldsc6 = new LocusListItemComparator(false,6,0);
</zscript>
 
					
<listbox id="listboxLocus" fixedLayout="true" mold="paging" pageSize="100" visible="false" >
	        	<listhead>
                <listheader label="LOCUS" width="180px"  sortAscending="${lasc0}" sortDescending="${ldsc0}" />
                <listheader label="CONTIG" width="120px"  sortAscending="${lasc1}" sortDescending="${ldsc1}" />
                <listheader label="START"  width="100px"   sortAscending="${lasc2}" sortDescending="${ldsc2}" />
                <listheader label="STOP"  width="100px"  sortAscending="${lasc3}" sortDescending="${ldsc3}" />
                <listheader label="STRAND"  width="60px"  sortAscending="${lasc4}" sortDescending="${ldsc4}" />
                <listheader id="listheaderOverlapping" label="OVERLAPPING GENE MODELS"  width="300px" sort="auto" />
                <listheader label="DESCRIPTION"    sortAscending="${lasc6}" sortDescending="${ldsc6}" />
            	</listhead>
</listbox>		

<!--  grid id="gridLocus" width="100%"   mold="paging" pageSize="100" visible="false" >
	        	<columns>
                <column label="LOCUS" width="180px"  sort="auto" />
                <column label="CONTIG" width="120px"  sort="auto" />
                <column label="START"  width="100px" sort="auto" />
                <column label="STOP"  width="100px" sort="auto" />
                <column label="STRAND"  width="60px" sort="auto" />
                <column label="OVERLAPPING GENE MODELS"  width="300px" sort="auto" />
                <column label="DESCRIPTION"  sort="auto" />
            	</columns>
</grid -->		

<!--  grid id="gridMarker" width="100%"   mold="paging" pageSize="100" visible="false" >
	        	<columns>
	        	<column label="CONTIG" width="100px"  sort="auto" />
	        	<column label="POSITION" width="100px"  sort="auto" />
                <column label="GENE MODELS" width="350px"  sort="auto" />
                <column label="QTARO QTLs" width="500px"  sort="auto" />
                <column label="GRAMENE QTLs" width="500px"  sort="auto" />
            	</columns>
</grid -->		

<zscript>
import org.irri.iric.portal.genomics.zkui.MarkerAnnotationSorter;
	Comparator masc0=new MarkerAnnotationSorter(true,0);
	Comparator mdsc0=new MarkerAnnotationSorter(false,0);
	Comparator masc1=new MarkerAnnotationSorter(true,1);
	Comparator mdsc1=new MarkerAnnotationSorter(false,1);
</zscript>

<!--  listbox id="listboxMarker" width="100%"   mold="paging" pageSize="100" visible="false" >
	        	<listhead>
	        	<listheader label="CONTIG" width="100px"   sort="auto"/>
	        	<listheader label="POSITION" width="100px"  sort="auto" />
                <listheader label="GENE MODELS" width="350px"  sort="auto" />
                <listheader label="QTARO QTLs" width="500px"  sort="auto" />
                <listheader label="GRAMENE QTLs" width="500px"  sort="auto" />
            	</listhead>
</listbox -->


<borderlayout id="borderMarkerVar" height="800px" width="100%" visible="false">
<north>
<hbox>
<hbox>
<label value="Group by  " pre="true" style="font-weight:bold"/>
<radiogroup id="rgAnnotGroups" />
<label pre="true" value="   Marker/Position"/><radio id="radioGroupbyMarker" radiogroup="rgAnnotGroups" selected="true"/>
<label pre="true" value="   Gene locus"/><radio id="radioGroupbyGene" radiogroup="rgAnnotGroups"/>
<label pre="true" value="   QTL"/><radio id="radioGroupbyQtl" radiogroup="rgAnnotGroups"/>
</hbox>

<hbox style="font-weight:bold">
  <label pre="true" value=" Include:"/>
  <checkbox id="checkboxListModel" label="gene model" checked="true"/>
  <vbox width="10px"/>
  <checkbox id="checkboxListPromoter" label="in promoter" checked="false"/>
  <vbox width="10px"/>
  <checkbox id="checkboxListRicenet" label="ricenet interaction" checked="false"/>
  <vbox width="10px"/>
  <checkbox  id="checkboxListPrin" label="prin interaction" checked="false"/>
</hbox>
</hbox>

</north>
<center border="0">
<listbox id="listboxMarkerVar" width="100%"   mold="paging" pageSize="100" visible="false"  vflex="1" hflex="1">
	        	<listhead sizable="true">
	        	<listheader label="CONTIG-POSITION" width="100px"  sortAscending="${masc0}" sortDescending="${mdsc0}" />
	        	<!--  listheader label="POSITION" width="100px"   sortAscending="${masc1}" sortDescending="${mdsc1}" / -->
            	</listhead>
</listbox>
</center>
</borderlayout>


<grid id="gridGOTerms" width="100%"   mold="paging" pageSize="100" visible="false" >
	        	<columns>
                <column label="GO ACCESSION" width="120px"  sort="auto" />
                <column label="GO TERM" width="400px"  sort="auto" />
                <column label="LOCI COUNT"  width="100px" sort="auto" />
                <column label="CV"  width="100px" sort="auto" />
            	</columns>
</grid>		

<!--  *********************   GENE LOCUS ALIGNMENT RESULTS DISPLAY  *********************************************************************************** -->

<zscript>
import org.irri.iric.portal.genomics.zkui.LocalAlignmentSorter;
       Comparator aasc0 = new LocalAlignmentSorter(true,0,0);        
       Comparator adsc0 = new LocalAlignmentSorter(false,0,0);
       Comparator aasc1 = new LocalAlignmentSorter(true,1,2);        
       Comparator adsc1 = new LocalAlignmentSorter(false,1,2);
       Comparator aasc2 = new LocalAlignmentSorter(true,2,2);        
       Comparator adsc2 = new LocalAlignmentSorter(false,2,2);
       Comparator aasc3 = new LocalAlignmentSorter(true,3,0);        
       Comparator adsc3 = new LocalAlignmentSorter(false,3,0);
       Comparator aasc4 = new LocalAlignmentSorter(true,4,2);        
       Comparator adsc4 = new LocalAlignmentSorter(false,4,2);
       Comparator aasc5 = new LocalAlignmentSorter(true,5,2);        
       Comparator adsc5 = new LocalAlignmentSorter(false,5,2);
       Comparator aasc6 = new LocalAlignmentSorter(true,6,1);        
       Comparator adsc6 = new LocalAlignmentSorter(false,6,1);
       Comparator aasc7 = new LocalAlignmentSorter(true,7,2);        
       Comparator adsc7 = new LocalAlignmentSorter(false,7,2);
       Comparator aasc8 = new LocalAlignmentSorter(true,8,3);        
       Comparator adsc8 = new LocalAlignmentSorter(false,8,3);
</zscript>

<listbox id="listboxAlignment" class="blast-table" mold="paging" pageSize="100" width="100%" visible="false">
	        	<listhead>
                <listheader label="QUERY" width="400px"  sortAscending="${aasc0}" sortDescending="${adsc0}" />
                <listheader label="Q START" width="100px"  sortAscending="${aasc1}" sortDescending="${adsc1}" />
                <listheader label="Q END"  width="100px"  sortAscending="${aasc2}" sortDescending="${adsc2}" />
                <listheader label="SUBJECT"  width="180px"  sortAscending="${aasc3}" sortDescending="${adsc3}" />
                <listheader label="S START"  width="100px" sortAscending="${aasc4}" sortDescending="${adsc4}" />
                <listheader label="S END"  width="100px"   sortAscending="${aasc5}" sortDescending="${adsc5}" />
                <listheader label="S STRAND"  width="100px"  sortAscending="${aasc6}" sortDescending="${adsc6}" />
                <listheader label="MATCHES"  width="150px"   sortAscending="${aasc7}" sortDescending="${adsc7}" />
                <listheader label="E VALUE"  width="100px"  sortAscending="${aasc8}" sortDescending="${adsc8}" />
            	</listhead>
</listbox>
</vbox>		
</vbox>



<popup id="popupDescendants" width="300px">
        <html><![CDATA[
          Include all descendants of the selected GO term.
        ]]></html>
</popup>

</window>
</zk>